Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

status history from backend (#472)
  models/spark/category_management/js_proposal_backend_status_history.sql
  models/spark/category_management/products_with_target_price.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Introduce joompro_mart.mercadolibre_categories_view table (#493)
  models/spark/jpa/mercadolibre_categories_view.sql
Owners: @lexx-a, @g00sek

Add favorite_products_cube (#490)
  models/spark/b2b_mart/sources.yml
  models/spark/jpa/favorite_products_cube_daily.sql
  models/spark/sources.yml
Owners: @NastiaMitiushkina, @lexx-a, @g00sek

Module 1 fix (#494)
  models/spark/category_management/products_with_target_price.sql
Owners: @lexx-a, @g00sek

Update fact_amo_crm_raw_leads.sql (#495)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Add proj dash web2app (#496)
  models/spark/order_lifecycle/dash_web2app.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update fact_amo_crm_raw_leads.sql (#497)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#498)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Delete models/spark/order_lifecycle/dash_web2app.sql (#499)
  models/spark/order_lifecycle/dash_web2app.sql
Owners: @lexx-a, @g00sek

An 3078 (#482)
  models/spark/gold/gold_countries.sql
  models/spark/seeds_to_bq/countries_properties.sql
  seeds/countries_properties_seed.csv
Owners: @msafonov, @g00sek, @lexx-a

Update customers_death.sql (#501)
  models/spark/b2b_mart/dashboards/customers_death.sql
Owners: @NastiaMitiushkina

Update fact_order_statuses.sql (#502)
  models/spark/b2b_mart/fact/statuses/fact_order_statuses.sql
Owners: @NastiaMitiushkina

Update fact_order.sql (#503)
  models/spark/b2b_mart/fact/fact_order.sql
Owners: @NastiaMitiushkina

Update fact_order.sql (#504)
  models/spark/b2b_mart/fact/fact_order.sql
Owners: @NastiaMitiushkina

Js backend history fix (#500)
  models/spark/category_management/js_proposal_backend_status_history.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update gold_merchant_categories.sql (#505)
  models/spark/gold/gold_merchant_categories.sql
Owners: @msafonov, @g00sek

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek
