Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @msafonov, @g00sek

Update gold_merchant_categories.sql (#507)
  models/spark/gold/gold_merchant_categories.sql
Owners: @msafonov, @g00sek

has_linked_card field added to payment order (#508)
  models/spark/core/payments/payment_order.sql
  models/spark/core/payments/src_payments.yml
Owners: @g00sek

Bq backend status history (#509)
  models/spark/category_management/js_proposal_backend_status_history.sql
Owners: none

Bq js backend status history (#510)
  models/spark/category_management/js_proposal_backend_status_history.sql
Owners: none

Use joompro_analytics_mart.mercadolibre_products_snapshot
  models/spark/b2b_mart/fake_door.sql
  models/spark/jpa/favorite_products_cube_daily.sql
  models/spark/sources.yml
Owners: @NastiaMitiushkina

get an additional discount from handbook (#512)
  models/spark/category_management/products_with_target_price.sql
  models/spark/sources.yml
Owners: none

Update fact_issues.sql (#514)
  models/spark/b2b_mart/fact/fact_issues.sql
Owners: @NastiaMitiushkina

JPA no missing dates for favorites (#515)
  models/spark/jpa/favorite_products_cube_daily.sql
Owners: none

fix autodeploy
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: none

JPA favorite products fix typo
  models/spark/jpa/favorite_products_cube_daily.sql
Owners: none

fix protobuf version for all actions
  .github/workflows/dbt-jobs-pr-tests.yaml
  .github/workflows/dbt-run-production.yaml
Owners: none

:sparkles: created `dsa` models (#517)
  models/spark/dsa/dsa_orders.sql
  models/spark/dsa/dsa_products.sql
Owners: none

expell_approved_proposals_periods (#513)
  models/spark/category_management/js_proposal_backend_status_history.sql
  models/spark/category_management/js_proposal_backend_status_history_raw.sql
  models/spark/category_management/products_with_target_price.sql
Owners: none

add app_entity for cool_be_com and cool_be_trending (#518)
  models/spark/base/active_devices.sql
  models/spark/gold/gold_orders.sql
Owners: @g00sek, @msafonov

:sparkles: created `gross_profit_estimation_change` (#516)
  models/spark/anomaly_detection/gross_profit_estimation_change.sql
  models/spark/sources.yml
Owners: none

Move SLO for JL External Cube to 16:00 UTC
  seeds/slo_details_seed.csv
Owners: none

add table coolbe_jl_cost_ratio_corrections to bq (#519)
  models/spark/coolbe/coolbe_jl_cost_ratio_corrections.sql
  models/spark/sources.yml
Owners: none

fix (#520)
  models/spark/category_management/products_with_target_price.sql
Owners: none

fix (#521)
  models/spark/category_management/products_with_target_price.sql
Owners: none

fix (#522)
  models/spark/category_management/products_with_target_price.sql
Owners: none

PhAn-702-add-parcel-statuses (#523)
  models/spark/onfy/orders_info.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

tables_sli_report: use min time of table update
  models/spark/platform/tables_sli_report.sql
Owners: none

update data_readiness (#525)
  models/spark/platform/data_readiness.sql
  seeds/manual_tables_seed.csv
Owners: none

fix reapply seeds workflow
  .github/workflows/dbt-jobs-pr-seeds.yaml
Owners: none

Create key_amo_admin.sql (#526)
  models/spark/b2b_mart/key/key_amo_admin.sql
Owners: @NastiaMitiushkina

Remove fast delivery info models (#524)
  models/spark/category_management/dim_product_fast_delivery_info.sql
  models/spark/sources.yml
  snapshots/spark/category_management/scd2_mongo_product_fast_delivery_info_daily_snapshot.sql
Owners: none

Update fact_amo_crm_raw_leads.sql (#527)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#528)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#529)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

PhAn-702-adding-parcel-delivery-statuses (#530)
  models/spark/onfy/orders_info.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_orders_costs.sql (#531)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#532)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Add regular segments (#534)
  models/spark/engagement/segments/frequent_buyers.sql
  models/spark/engagement/segments/occasional_buyers.sql
  models/spark/engagement/segments/regular_buyers.sql
Owners: none

engagement/segments: turn on upload to spark
  models/spark/engagement/segments/frequent_buyers.sql
  models/spark/engagement/segments/occasional_buyers.sql
  models/spark/engagement/segments/regular_buyers.sql
Owners: none

fix new segments (#535)
  models/spark/engagement/segments/frequent_buyers.sql
  models/spark/engagement/segments/occasional_buyers.sql
  models/spark/engagement/segments/regular_buyers.sql
Owners: none

An 3129 (#536)
  models/spark/dsa/dsa_orders.sql
  models/spark/dsa/dsa_products.sql
Owners: none

add user-related attribution (#537)
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update scd2_deals_snapshot.sql (#538)
  snapshots/spark/b2b_mart/scd2_deals_snapshot.sql
Owners: @NastiaMitiushkina

Update and rename models/spark/b2b_mart/fact_deals.sql to models/spar… (#539)
  models/spark/b2b_mart/fact/fact_deals.sql
  models/spark/b2b_mart/fact_deals.sql
Owners: @NastiaMitiushkina

:bug: Update dsa_products.sql (#541)
  models/spark/dsa/dsa_products.sql
Owners: none

CODEOWNERS:

b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @msafonov
/analytics/ @msafonov
/models/spark/gold/ @msafonov @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek
