Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg

move persist docs settings to the test model
  models/spark/msaf/table_with_comments.sql
Owners: @lexx-a, @g00sek

turnoff comments for columns
  models/spark/msaf/table_with_comments.sql
Owners: @lexx-a, @g00sek

update source config
  models/spark/msaf/table_with_comments.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

update columns description
  models/spark/msaf/src_msaf.yml
Owners: @lexx-a, @g00sek

rollback some changes
  models/spark/msaf/src_msaf.yml
  models/spark/msaf/table_with_comments.sql
Owners: @lexx-a, @g00sek

Use same action as dbt-models
  .github/workflows/deploy-manifest-internal/action.yml
Owners: @lexx-a, @g00sek

ref link
  models/spark/onfy/sources.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

turn on comments for test table
  models/spark/msaf/src_msaf.yml
  models/spark/msaf/table_with_comments.sql
Owners: @lexx-a, @g00sek

try to fix deploy job
  .github/workflows/deploy-manifest-internal/action.yml
Owners: @lexx-a, @g00sek

drop test model
  models/spark/msaf/src_msaf.yml
  models/spark/msaf/table_with_comments.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

turn on persisting docs
  dbt_project.yml
Owners: @lexx-a, @g00sek

add test table
  models/spark/msaf/schema.yml
  models/spark/msaf/table_in_bq.sql
Owners: @lexx-a, @g00sek

delete test table
  models/spark/msaf/schema.yml
  models/spark/msaf/table_in_bq.sql
Owners: @lexx-a, @g00sek

Add sqlfluff-fix job
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

unnest git workflow jobs
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

rollback dbt-jobs-pr-tests.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

turn on sqlfluff check
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext.sql
  models/spark/support/support_mart_ticket_id_ext.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext_jl.sql
  models/spark/support/support_mart_ticket_id_ext_jl.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext_joompay.sql
  models/spark/support/support_mart_ticket_id_ext_joompay.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext_onfy.sql
  models/spark/support/support_mart_ticket_id_ext_onfy.sql
Owners: @lexx-a, @g00sek

fix checkout params
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

add sqlfluff configs
  .sqlfluff
  .sqlfluffignore
Owners: @lexx-a, @g00sek

deployment: make use of shared action for deploy manifest
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
  .github/workflows/deploy-manifest-internal/action.yml
Owners: @lexx-a, @g00sek

dploy docs for spark-models
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

turn off deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

turn on deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

turn on deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

turn off deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

Update temp_rfq_deals_orders.sql
  models/spark/b2b_mart/temp/temp_rfq_deals_orders.sql
Owners: @NastiaMitiushkina

turn on deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
  Dockerfile
Owners: @lexx-a, @g00sek

fix dockerfile
  Dockerfile
Owners: @lexx-a, @g00sek

fix dockerfile
  Dockerfile
Owners: @lexx-a, @g00sek

fix dockerfile
  Dockerfile
Owners: @lexx-a, @g00sek

turn off deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

turn on deploy docs
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

turn on slack notification
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

udpate sources
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

copy seed from dbt-models
  seeds/countries_currencies.csv
  seeds/gold_regions_source.csv
Owners: @lexx-a, @g00sek

migrate gold_active_users_and_devices_with_ephemeral macro
  macros/gold_active_users_and_devices_with_ephemeral.sql
Owners: @dmgburg
