Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

fix unfixable
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
Owners: @lexx-a, @g00sek

changing deals from events to mongo
  models/spark/b2b_mart/dashboards/customers_death.sql
  models/spark/b2b_mart/dashboards/fact_deals_change.sql
  models/spark/b2b_mart/dashboards/fact_deals_statuses_change.sql
  models/spark/b2b_mart/dim/dim_device.sql
  models/spark/b2b_mart/dim/dim_user.sql
  models/spark/b2b_mart/dim/dim_user_admin.sql
  models/spark/b2b_mart/fact/fact_amo_deals.sql
  models/spark/b2b_mart/fact/fact_attribution_interaction.sql
  models/spark/b2b_mart/fact/fact_customers.sql
  models/spark/b2b_mart/fact/fact_interactions.sql
  models/spark/b2b_mart/fact/fact_interactions_utm.sql
  models/spark/b2b_mart/fact_deals.sql
  models/spark/b2b_mart/fact_deals_change.sql
  models/spark/b2b_mart/fact_deals_rfq.sql
  models/spark/b2b_mart/fact_order_product_deal.sql
  models/spark/b2b_mart/sales_pipeline.sql
  models/spark/b2b_mart/sdr_pipeline.sql
  models/spark/b2b_mart/temp/added_data.sql
  models/spark/b2b_mart/temp/amo_crm_calls.sql
Owners: @NastiaMitiushkina

Create dim_user.sql
  models/spark/b2b_mart/dim/dim_user.sql
Owners: @NastiaMitiushkina

fix refund reason name
  models/spark/order_lifecycle/logistics_speed_gmv.sql
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Run model on production
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

fix incremental_predicates
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

added aliases
  models/spark/order_lifecycle/logistics_speed_gmv.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/order_lifecycle/logistics_speed_gmv.sql
Owners: @lexx-a, @g00sek

turn off incremental for babylone tickets
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fix active_device_user with ephemeral
  macros/gold_active_users_and_devices_with_ephemeral.sql
Owners: @dmgburg

drop short intervals for dev env
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

Update fact_deals_change.sql
  models/spark/b2b_mart/dashboards/fact_deals_change.sql
Owners: @NastiaMitiushkina

make all non-incremental
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

Update fact_deals.sql
  models/spark/b2b_mart/fact_deals.sql
Owners: @NastiaMitiushkina

Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

make all non-incremental
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

make all non-incremental
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

:wrench: add dialect
  .sqlfluff
Owners: @lexx-a, @g00sek

:wrench:
  .sqlfluff
Owners: @lexx-a, @g00sek

Update temp_rfq_deals_orders.sql
  models/spark/b2b_mart/temp/temp_rfq_deals_orders.sql
Owners: @NastiaMitiushkina

Update temp_rfq_deals_orders.sql
  models/spark/b2b_mart/temp/temp_rfq_deals_orders.sql
Owners: @NastiaMitiushkina

:wrench:
  .sqlfluff
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/order_lifecycle/logistics_speed_gmv.sql
Owners: @lexx-a, @g00sek

Create script to get all no owner models
  get_no_owner.py
  get_no_owner.sh
Owners: @lexx-a, @g00sek

calc numbers in orders separately
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

add discrepancies description
  models/spark/gold/discrepancies.md
Owners: @lexx-a, @g00sek

fix commas
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
  models/spark/gold/gold_merchants.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

Allow .ms files
  test.sh
Owners: @lexx-a, @g00sek

Fix src_gold.yml
  models/spark/gold/src_gold.yml
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets_onfy.sql
  models/spark/support/support_mart_babylone_tickets_onfy.sql
Owners: @lexx-a, @g00sek

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
