Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @msafonov, @g00sek

CODEOWNERS:

b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @msafonov
/analytics/ @msafonov
/models/spark/gold/ @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek

Update slo_tables_seed.csv
  seeds/slo_tables_seed.csv
Owners: none

Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: none

run_fast supports table aliases
  infra/get_tables_to_copy_from_prod.py
Owners: @msafonov

Update sessions.sql (#648)
  models/spark/onfy/sessions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

An 3267 (#647)
  models/spark/gold/gold_logistics_orders.sql
  models/spark/gold/src_gold.yml
Owners: @g00sek

Fix jl_costs_realization_datetime_utc field naming
  models/spark/gold/gold_logistics_orders.sql
Owners: @g00sek

Mkd branch ss first (#650)
  models/spark/b2b_mart/ss/ss_events_authentication.sql
  models/spark/b2b_mart/ss/ss_events_startsession.sql
Owners: @NastiaMitiushkina

JPA new onboarding form data
  models/spark/b2b_mart/dim/dim_analytics_users_extras.sql
  models/spark/b2b_mart/sources.yml
Owners: @NastiaMitiushkina

JPA add to seeds mercadolibre_category_info
  seeds/manual_tables_seed.csv
Owners: none

JPA dim_analytics_users_extras protect from duplicates
  models/spark/b2b_mart/dim/dim_analytics_users_extras.sql
Owners: @NastiaMitiushkina

Update ss_funnel_table.sql (#651)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

JPA fix customer_360
  models/spark/b2b_mart/dim/dim_analytics_user.sql
  models/spark/jpa/customer_360.sql
Owners: @NastiaMitiushkina

Add dag config yaml
  infra/dags_schedule.yaml
Owners: @msafonov

Change excluded_tags to excluded-tags param
  infra/dags_schedule.yaml
Owners: @msafonov

Add tag b2b_mart to b2b_mart models and snapshots to split dag
  dbt_project.yml
Owners: none

Add config to b2b_mart dags
  infra/dags_schedule.yaml
Owners: @msafonov

an-3112 (#652)
  models/spark/category_management/products_without_docs.sql
Owners: none

Move onfy to separate dag
  dbt_project.yml
  infra/dags_schedule.yaml
Owners: @msafonov

Fix dag_id for onfy
  infra/dags_schedule.yaml
Owners: @msafonov

fix_for_manual_prop (#653)
  models/spark/category_management/js_proposal_backend_status_history.sql
Owners: none

fix (#655)
  models/spark/category_management/products_with_target_price.sql
Owners: none

Update ss_funnel_table.sql (#654)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

avg_alg_change (#656)
  models/spark/category_management/products_with_target_price.sql
Owners: none

comments (#659)
  models/spark/category_management/initial_metrics_set.sql
  models/spark/category_management/js_proposal_backend_status_history_raw.sql
  models/spark/category_management/products_with_target_price.sql
Owners: none

add new table (#658)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: @NastiaMitiushkina

Update fact_customer_requests_variants.sql (#660)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: @NastiaMitiushkina

hard code of merchants (#662)
  models/spark/category_management/products_with_target_price.sql
Owners: none

Update manual_tables_seed.csv (#663)
  seeds/manual_tables_seed.csv
Owners: none

fix of discount application (#664)
  models/spark/category_management/products_with_target_price.sql
Owners: none

JPA analytics_payments to correct BQ project
  models/spark/b2b_mart/analytics/analytics_payments.sql
Owners: @NastiaMitiushkina

JPA fix typo
  models/spark/b2b_mart/analytics/analytics_payments.sql
Owners: @NastiaMitiushkina

JPA new schema for analytics_payments
  models/spark/b2b_mart/analytics/analytics_payments.sql
Owners: @NastiaMitiushkina

Update support_mart_subject_names.sql (#665)
  models/spark/sources.yml
  models/spark/support/support_mart_subject_names.sql
  seeds/manual_tables_seed.csv
Owners: none

Add user_id to analytics_payments
  models/spark/b2b_mart/analytics/analytics_payments.sql
Owners: @NastiaMitiushkina

add new table with publisheed catalog (#667)
  models/spark/b2b_mart/scd2/scd2_mongo_published_product.sql
Owners: @NastiaMitiushkina

published products (#668)
  models/spark/b2b_mart/ss/ss_published_products.sql
Owners: @NastiaMitiushkina

delete new table with same name (#669)
  models/spark/b2b_mart/scd2/scd2_mongo_published_product.sql
Owners: @NastiaMitiushkina

Update ss_published_products.sql (#670)
  models/spark/b2b_mart/ss/ss_published_products.sql
Owners: @NastiaMitiushkina

add new ss table (#674)
  models/spark/b2b_mart/ss/ss_funnel_registration.sql
Owners: @NastiaMitiushkina

Update fact_customer_requests_variants.sql (#673)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: @NastiaMitiushkina
