Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @g00sek, @BorisovDm, @NastiaMitiushkina

CODEOWNERS:

/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @BorisovDm @NastiaMitiushkina
/analytics/ @msafonov
/models/spark/gold/ @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek

PhAn-858 Drop Medice from blacklists (#905)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

Add OHM as source (#906)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

Update auto_discount_rules.sql (#907)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

Disapo price experiment (#908)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Disapo price experiment (#909)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

Update onfy_discount_rules_manual.csv (#910)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Create scd2_mongo_product_prices_daily_snapshot.sql (#911)
  models/spark/b2b_mart/sources.yml
  snapshots/spark/b2b_mart/scd2_mongo_product_prices_daily_snapshot.sql
Owners: none

Create sat_product_price.sql (#912)
  models/spark/b2b_mart/sat/sat_product_price.sql
Owners: none

Update sat_product_price.sql (#913)
  models/spark/b2b_mart/sat/sat_product_price.sql
Owners: none

added 1 new (#904)
  seeds/product_outliers_seed.csv
Owners: none

Update ss_events_startsession.sql (#914)
  models/spark/b2b_mart/ss/ss_events_startsession.sql
Owners: none

Update sat_customers.sql (#916)
  models/spark/b2b_mart/sat/sat_customers.sql
Owners: none

Update fact_customers.sql (#917)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: none

Update alert channels
  infra/dags_schedule.yaml
Owners: @msafonov

Update analytics_subscriptions.sql (#918)
  models/spark/b2b_mart/analytics/analytics_subscriptions.sql
Owners: none

Qff metrics (#919)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
Owners: @g00sek

PhAn-857 Calculate ROAS for every pzn for ideallo based on October ->… (#920)
  seeds/onfy_discount_rules_manual.csv
Owners: none

PhAn-868 Add order quantity in stock monitoring (#921)
  models/spark/onfy/stock_monitoring.sql
Owners: none

Improve slo tables
  macros/format_time.sql
  models/spark/platform/airflow_task_end_stats.sql
  models/spark/platform/airflow_task_instance_archive.sql
  models/spark/platform/airflow_task_instance_daily.sql
  models/spark/platform/data_readiness.sql
  models/spark/platform/data_readiness_summary.sql
  models/spark/platform/effective_start_dates.sql
  models/spark/platform/effective_start_dates_tasks.sql
  models/spark/platform/fact_table_update_archive.sql
  models/spark/platform/ftu_archive.sql
  models/spark/platform/ftu_end_stats.sql
  models/spark/platform/manual_tables.sql
  models/spark/platform/table_readiness_report.sql
  models/spark/platform/tables_sli_report.sql
  models/spark/platform/task_end_stats.sql
Owners: @msafonov, @g00sek

Manual table flag in SLO
  models/spark/platform/data_readiness.sql
  models/spark/platform/table_readiness_report.sql
Owners: none

Update fact_orders_costs.sql (#922)
  models/spark/b2b_mart/fact/fact_orders_costs.sql
Owners: none

Update fact_orders_costs.sql (#923)
  models/spark/b2b_mart/fact/fact_orders_costs.sql
Owners: none

Disable loading table_readiness_report to BQ. Add new columns to report
  models/spark/platform/data_readiness.sql
  models/spark/platform/data_readiness_summary.sql
  models/spark/platform/holistics_api_data.sql
  models/spark/platform/slo_details.sql
  models/spark/platform/slo_tables.sql
  models/spark/platform/table_readiness_report.sql
Owners: none

Add msk field in slo tables
  macros/format_time.sql
  models/spark/platform/airflow_task_end_stats.sql
  models/spark/platform/data_readiness.sql
  models/spark/platform/data_readiness_summary.sql
  models/spark/platform/effective_start_dates.sql
  models/spark/platform/effective_start_dates_tasks.sql
  models/spark/platform/ftu_end_stats.sql
Owners: @msafonov, @g00sek

Fix effective duration field
  models/spark/platform/table_readiness_report.sql
Owners: none

Dropping tables вузы that depend on themselves
  models/spark/platform/data_readiness.sql
Owners: none

Update rfq_sent_to_merchants.sql (#924)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: none

Update rfq_sent_to_merchants.sql (#925)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: none

Update rfq_sent_to_merchants.sql (#926)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: none

Update rfq_sent_to_merchants.sql (#927)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: none

Add user ordered time utc (#928)
  models/spark/mongo/merchant_order.sql
Owners: none

Update auto_discount_rules.sql (#929)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

Update onfy_discount_rules_manual.csv (#930)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Revert "Update onfy_discount_rules_manual.csv" (#931)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Update onfy_discount_rules_manual.csv (#933)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Create ss_collections_funnel.sql (#932)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

:sparkles: updated logic (platform, country, etc) (#915)
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/gold/gold_active_real_users.sql
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

Update onfy_discount_rules_manual.csv (#935)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Logistics: drop logistics_pickup_boxes.sql (#934)
  models/spark/logistics/dashboards/logistics_pickup_boxes.sql
  models/spark/sources.yml
Owners: none

Update auto_discount_rules.sql (#936)
  models/spark/onfy/auto_discount_rules.sql
Owners: none
