Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek

change rollout group table name (#276)
  models/spark/experiments/decisions.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

An 2874 (#275)
  models/spark/ads/web_analytics_cohorts_v4_view.sql
  models/spark/gold/src_gold.yml
Owners: @lexx-a, @g00sek, @msafonov

created table to exclude from fb feed (#277)
  models/spark/onfy/fb_landing_page.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update dim_deal_products.sql (#278)
  models/spark/b2b_mart/dim/dim_deal_products.sql
Owners: @NastiaMitiushkina

Update fact_order_statuses.sql (#279)
  models/spark/b2b_mart/fact/statuses/fact_order_statuses.sql
Owners: @NastiaMitiushkina

Add new iphones to outliers (#280)
  seeds/product_outliers_seed.csv
Owners: @lexx-a, @g00sek

Update fact_amo_deals.sql (#281)
  models/spark/b2b_mart/fact/fact_amo_deals.sql
Owners: @NastiaMitiushkina

Create fact_amo_crm_contacts_phones.sql (#282)
  models/spark/b2b_mart/fact/fact_amo_crm_contacts_phones.sql
Owners: @NastiaMitiushkina

Create sessions.sql (#283)
  models/spark/onfy/sessions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

change shopping utm_campaign (#284)
  models/spark/onfy/sources.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_order.sql (#285)
  models/spark/b2b_mart/fact/fact_order.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#286)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update scd2_mongo_order.sql (#287)
  models/spark/b2b_mart/scd2/scd2_mongo_order.sql
Owners: @NastiaMitiushkina

Update fact_order.sql (#288)
  models/spark/b2b_mart/fact/fact_order.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#289)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#290)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update merchant_rating_di.sql (#291)
  models/spark/b2b_mart/merchant_rating_di.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#292)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#293)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#294)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update jp_sla_production.sql (#295)
  models/spark/b2b_mart/sla/jp_sla_production.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#296)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Create sla_days.sql (#297)
  models/spark/b2b_mart/key/sla_days.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#299)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#300)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#301)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#302)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#303)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update sla_days.sql (#304)
  models/spark/b2b_mart/key/sla_days.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#305)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update support_mart_agent_actions.sql (#306)
  models/spark/support/support_mart_agent_actions.sql
Owners: @lexx-a, @g00sek

Create fact_amo_attribution_interaction.sql (#307)
  models/spark/b2b_mart/fact/fact_amo_attribution_interaction.sql
Owners: @NastiaMitiushkina

Update fact_amo_deals.sql (#308)
  models/spark/b2b_mart/fact/fact_amo_deals.sql
Owners: @NastiaMitiushkina

Update fact_amo_attribution_interaction.sql (#309)
  models/spark/b2b_mart/fact/fact_amo_attribution_interaction.sql
Owners: @NastiaMitiushkina

Update fact_amo_attribution_interaction.sql (#310)
  models/spark/b2b_mart/fact/fact_amo_attribution_interaction.sql
Owners: @NastiaMitiushkina

Update fact_amo_deals.sql (#312)
  models/spark/b2b_mart/fact/fact_amo_deals.sql
Owners: @NastiaMitiushkina

Add known gaps
  models/spark/merchant/moderation/risky_moderation_tasks.sql
Owners: @lexx-a, @g00sek

Add new fields to merchant, sat_merchant tables (#311)
  .sqlfluff
  models/spark/merchant/sat_merchant.sql
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

Change handling jinjia templated values in linter (#313)
  .sqlfluff
Owners: @lexx-a, @g00sek

Fix unneeded rename
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek
