Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek

Update fact_amo_crm_raw_leads.sql (#388)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_deals_statuses_change.sql (#389)
  models/spark/b2b_mart/dashboards/fact_deals_statuses_change.sql
Owners: @NastiaMitiushkina

Update fact_deals.sql (#390)
  models/spark/b2b_mart/fact_deals.sql
Owners: @NastiaMitiushkina

Update fact_deals.sql (#391)
  models/spark/b2b_mart/fact_deals.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#392)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Create fact_deals_statuses.sql (#393)
  models/spark/b2b_mart/fact/statuses/fact_deals_statuses.sql
Owners: @NastiaMitiushkina

Update fact_deals_statuses.sql (#394)
  models/spark/b2b_mart/fact/statuses/fact_deals_statuses.sql
Owners: @NastiaMitiushkina

Rename models/spark/b2b_mart/dashboards/fact_deals_statuses_change.sq… (#395)
  models/spark/b2b_mart/fact/statuses/fact_deals_statuses_change.sql
Owners: @NastiaMitiushkina

Update fact_deals_statuses.sql (#396)
  models/spark/b2b_mart/fact/statuses/fact_deals_statuses.sql
Owners: @NastiaMitiushkina

Increase job priority on critical path
  models/spark/dashboards/bmpl_target_margin.sql
Owners: @lexx-a, @g00sek

Increase job priority on critical path
  models/spark/dashboards/bmpl_target_margin.sql
Owners: @lexx-a, @g00sek

Update dim_deal_products.sql (#397)
  models/spark/b2b_mart/dim/dim_deal_products.sql
Owners: @NastiaMitiushkina

Update fact_customer_requests.sql (#398)
  models/spark/b2b_mart/fact/fact_customer_requests.sql
Owners: @NastiaMitiushkina

Update rfq_sent_to_merchants.sql (#399)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: @NastiaMitiushkina

Update rfq_sent_to_merchants.sql (#400)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: @NastiaMitiushkina

Create dim_blog_subscriptions.sql (#401)
  models/spark/b2b_mart/dim/dim_blog_subscriptions.sql
Owners: @NastiaMitiushkina

Update sources.yml (#402)
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Bartolomeu d patch 4 (#404)
  models/spark/onfy/refunds.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_deals.sql (#405)
  models/spark/b2b_mart/fact_deals.sql
Owners: @NastiaMitiushkina

Update fact_deals_statuses_change.sql (#406)
  models/spark/b2b_mart/fact/statuses/fact_deals_statuses_change.sql
Owners: @NastiaMitiushkina

Update fact_deals_change.sql (#407)
  models/spark/b2b_mart/dashboards/fact_deals_change.sql
Owners: @NastiaMitiushkina

PhAn-633-adding-paketshop-into-to-orders (#408)
  models/spark/onfy/orders_info.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Update partner_leads.sql (#410)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

deleting some orders from gmv (#411)
  models/spark/b2b_mart/fact_orders_costs.sql
  models/spark/b2b_mart/gmv_by_sources.sql
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: @NastiaMitiushkina

Update fact_customer_requests.sql (#412)
  models/spark/b2b_mart/fact/fact_customer_requests.sql
Owners: @NastiaMitiushkina

Create fake_door.sql (#413)
  models/spark/b2b_mart/fake_door.sql
Owners: @NastiaMitiushkina

Update sources.yml (#414)
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update gmv_by_sources.sql (#415)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: @NastiaMitiushkina

Update fake_door.sql (#416)
  models/spark/b2b_mart/fake_door.sql
Owners: @NastiaMitiushkina

Update fake_door.sql (#417)
  models/spark/b2b_mart/fake_door.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#418)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#419)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#420)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#421)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#422)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#423)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#424)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

SQLFluff autofixes
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-jobs-pr-seeds.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
  .github/workflows/dbt-run-production.yaml
  .sqlfluff
  snapshots/spark/b2b_mart/scd2_admin_user_plans_snapshot.sql
Owners: @lexx-a, @g00sek, @NastiaMitiushkina

Switch templater to dbt
  seeds/manual_tables_seed.csv
Owners: @lexx-a, @g00sek

adding new mongo source (#426)
  models/spark/b2b_mart/dim/dim_analytics_user.sql
  models/spark/b2b_mart/dim/dim_analytics_users_extras.sql
  models/spark/b2b_mart/sources.yml
  models/spark/sources.yml
Owners: @NastiaMitiushkina, @lexx-a, @g00sek
