Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

Update support_mart_babylone_tickets_joompay.sql
  models/spark/support/support_mart_babylone_tickets_joompay.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets_onfy.sql
  models/spark/support/support_mart_babylone_tickets_onfy.sql
Owners: @lexx-a, @g00sek

Update support_mart_csat.sql
  models/spark/support/support_mart_csat.sql
Owners: @lexx-a, @g00sek

Update support_mart_subject_names.sql
  models/spark/support/support_mart_subject_names.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext.sql
  models/spark/support/support_mart_ticket_id_ext.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext_jl.sql
  models/spark/support/support_mart_ticket_id_ext_jl.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext_joompay.sql
  models/spark/support/support_mart_ticket_id_ext_joompay.sql
Owners: @lexx-a, @g00sek

Update support_mart_ticket_id_ext_onfy.sql
  models/spark/support/support_mart_ticket_id_ext_onfy.sql
Owners: @lexx-a, @g00sek

Update email_verifications.sql
  models/spark/order_lifecycle/email_verifications.sql
Owners: @lexx-a, @g00sek

Update conversion_funnel.sql
  models/spark/onfy/conversion_funnel.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

fixing minor bugs
  models/spark/onfy/conversion_funnel.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

:art:
  models/spark/customer_routing/web/sales_data_daily.sql
Owners: @lexx-a, @g00sek

delete strange file
  models/spark/base_mart_mart.promotions.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/customer_routing/web/sales_data_overview.sql
Owners: @lexx-a, @g00sek

Make PR checks fail if model has no owner
  .github/workflows/dbt-jobs-pr-tests.yaml
  get_no_owner.py
Owners: @lexx-a, @g00sek

Set higher priority for sale_dates_v2
  models/spark/push/sale_dates_v2.sql
Owners: @lexx-a, @g00sek

Set higher priority for tasks require for slo_pivots
  models/spark/mart/product_nf_segment.sql
  models/spark/mart/product_outliers.sql
  models/spark/mart/product_rating_segment.sql
  models/spark/support/support_mart_ticket_id_ext.sql
Owners: @lexx-a, @g00sek

:bug:
  snapshots/spark/b2b_mart/scd2_orders_v2_snapshot.sql
Owners: @NastiaMitiushkina

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
