Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

JPA-1545 (#1334)
  tests/spark/pulse/number_of_products_mobile_scrapper_check.sql
  tests/spark/pulse/products_number_mobile_scrapper_check.sql
Owners: none

Update categories_gmv_monthly_check.sql (#1335)
  tests/spark/pulse/categories_gmv_monthly_check.sql
Owners: none

Update categories_gmv_monthly_check.sql (#1337)
  tests/spark/pulse/categories_gmv_monthly_check.sql
Owners: none

Update number_of_categories_monthly_check.sql (#1338)
  tests/spark/pulse/number_of_categories_monthly_check.sql
Owners: none

Update categories_number_monthly_check.sql (#1339)
  tests/spark/pulse/categories_number_monthly_check.sql
Owners: none

Update categories_gmv_by_month_check.sql (#1340)
  tests/spark/pulse/categories_gmv_by_month_check.sql
Owners: none

[AN-4025] fbj_variant_statistics (#1320)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
  models/spark/category_management/fbj/product_stocks/fbj_product_stocks.sql
  models/spark/category_management/fbj/product_stocks/fbj_product_stocks_current.sql
  models/spark/category_management/fbj/scr_fbj_variant_statistics.yml
  models/spark/sources.yml
Owners: none

[AN-4025] hot fix (#1341)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
Owners: none

New profile for gold dag
  infra/dags_schedule.yaml
  production/profiles/profiles.yml
Owners: @msafonov, @boltonidze

PhAn_928 Returned bigquery_known_gaps to transactions table (#1342)
  models/spark/onfy/transactions.sql
Owners: none

Update ss_users_table.sql (#1344)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: none

[PRO-9821] Create fact_customers_grade_history.sql (#1345)
  models/spark/b2b_mart/dashboards/fact_customers_grade_history.sql
Owners: none

[DASHBOARDS-178] Added fulfilling duration field to gold logistics orders (#1336)
  models/spark/gold/gold_logistics_orders.sql
  models/spark/gold/src_gold.yml
Owners: @g00sek, @joomcode/analytics-developers

[AN-4025] fix dubles 1 (#1346)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
Owners: none

Update fact_customers_grade_history.sql (#1347)
  models/spark/b2b_mart/dashboards/fact_customers_grade_history.sql
Owners: none

Update fact_customers_grade_history.sql (#1348)
  models/spark/b2b_mart/dashboards/fact_customers_grade_history.sql
Owners: none

Added 'full_reload_on': '6', (#1343)
  models/spark/gold/gold_active_real_users.sql
Owners: @g00sek, @joomcode/analytics-developers

:busts_in_silhouette: model_owner `troyanovskaya` -> `tangaev` (#1349)
  models/spark/search/search_query_input.sql
Owners: none

[AN-4025] fix doubles (#1350)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
Owners: none

change start of recalculation (#1351)
  models/spark/search/search_query_input.sql
Owners: none

[AN-4025] fix doubles (#1352)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
Owners: none

Update gmv_by_sources_wo_filters.sql (#1354)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Ph-An_933 Added Lost GMV (#1353)
  models/spark/onfy/pzns_out_of_stock.sql
Owners: none

Update gmv_by_sources.sql (#1355)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: none

[AN-4025] fix logic (#1356)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
Owners: none

PhAn-968 Banners_stats (#1357)
  models/spark/onfy/banners_stats.sql
Owners: none

disable check counts (#1358)
  models/spark/dashboards/user_points_transactions.sql
Owners: none

PhAn_933 Minor changes in data representation (#1359)
  models/spark/onfy/pzns_out_of_stock.sql
Owners: none

[AN-4043] Cosmetic Changes in gold.orders (#1331)
  models/spark/base/active_devices.sql
  models/spark/gold/gold_orders.sql
Owners: @g00sek, @joomcode/analytics-developers

Rename sessions.sql to onfy_sessions.sql (#1360)
  models/spark/onfy/conversion_funnel_new.sql
  models/spark/onfy/onfy_sessions.sql
  models/spark/onfy/pushes.sql
  models/spark/onfy/sources.yml
Owners: none

bug fix (#1361)
  models/spark/onfy/conversion_funnel_new.sql
  seeds/manual_tables_seed.csv
Owners: none

PhAN_968 First version of recommendations_stats (#1362)
  models/spark/onfy/recommendations_stats.sql
Owners: none

PhAn_968 Minor modification in data representation (#1363)
  models/spark/onfy/banners_stats.sql
Owners: none

change owner and disable bigquery check counts (#1364)
  models/spark/dashboards/user_points_transactions.sql
  models/spark/search/search_query_input.sql
Owners: none

Update fact_quotes_variants.sql (#1365)
  models/spark/b2b_mart/fact/fact_quotes_variants.sql
Owners: none

Update onfy_discount_rules_manual.csv (#1366)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Move gold slo to 7 am to know about problem in advance
  seeds/slo_details_seed.csv
Owners: none

Update fact_customers_grade_history.sql (#1367)
  models/spark/b2b_mart/dashboards/fact_customers_grade_history.sql
Owners: none

PhAn_968 Added missing column partition_date_cet (#1368)
  models/spark/onfy/recommendations_stats.sql
Owners: none

Update purchasing_and_production_report.sql (#1369)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek
