Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg

drop fact_user_points_transactions as redundant
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

update default schema in profiles
  production/adhoc/profiles.yml
  production/profiles/profiles.yml
Owners: @lexx-a, @g00sek

add base models
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/categories.sql
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

migrate core models
  models/spark/core/bloggers/bloggers.sql
  models/spark/core/bloggers/bloggers.yml
  models/spark/core/payments/card_bins.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/payments/src_payments.yml
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

migrate dashboard models
  models/spark/dashboards/dim_pair_currency_rate.sql
  models/spark/dashboards/src_currency.yml
  models/spark/dashboards/src_points.yml
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

migrate gold models
  models/spark/base/orders.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_devices_with_ephemeral.sql
  models/spark/gold/gold_active_users.sql
  models/spark/gold/gold_active_users_with_ephemeral.sql
  models/spark/gold/gold_countries.sql
  models/spark/gold/gold_logistics_orders.sql
  models/spark/gold/gold_merchant_categories.sql
  models/spark/gold/gold_merchants.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_orders.sql
  models/spark/gold/gold_payment_orders.sql
  models/spark/gold/gold_products.sql
  models/spark/gold/gold_referral_orders.sql
  models/spark/gold/gold_regions.sql
  models/spark/gold/src_gold.yml
Owners: @lexx-a, @g00sek

fix config
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

fix references to other models
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/dashboards/user_points_transactions.sql
  models/spark/gold/gold_orders.sql
  models/spark/gold/gold_referral_orders.sql
Owners: @lexx-a, @g00sek

fighting with linter
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

fighting with linter
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fighting with linter
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fighting with linter
  models/spark/base/orders.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_users.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fighting with linter
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/categories.sql
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

fix datetime_trunc
  models/spark/base/categories.sql
  models/spark/gold/gold_merchants.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_products.sql
Owners: @lexx-a, @g00sek

fix datetime_trunc
  models/spark/gold/gold_merchants.sql
Owners: @lexx-a, @g00sek

fix datetime_trunc
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

fix datetime_trunc
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

fix datetime_trunc
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

turn off linter for core, gold, dashboards
  .sqlfluffignore
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

turn on linter for core, dashboards
  .sqlfluffignore
Owners: @lexx-a, @g00sek

linter: +gold, -core, dashboards
  .sqlfluffignore
Owners: @lexx-a, @g00sek

linter: -gold, -core, +dashboards
  .sqlfluffignore
Owners: @lexx-a, @g00sek

fix dim_pair_currency_rate.sql
  models/spark/dashboards/dim_pair_currency_rate.sql
Owners: @lexx-a, @g00sek

update fluff ignore
  .sqlfluffignore
Owners: @lexx-a, @g00sek

fix user_points_transactions.sql
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

fix dashboards models
  .sqlfluffignore
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

fix core models
  .sqlfluffignore
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/gold/gold_referral_orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fix gold models
  .sqlfluff
  .sqlfluffignore
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/gold/gold_orders.sql
  models/spark/gold/gold_referral_orders.sql
Owners: @lexx-a, @g00sek, @dmgburg

SQLFluff autofixes
  models/spark/gold/gold_countries.sql
  models/spark/gold/gold_merchants.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_referral_orders.sql
Owners: @lexx-a, @g00sek

adding numbers
  models/spark/b2b_mart/dim/dim_device.sql
  models/spark/b2b_mart/dim/dim_user.sql
  models/spark/b2b_mart/dim/dim_user_admin.sql
  models/spark/b2b_mart/dim_user.sql
  models/spark/b2b_mart/fact_customers.sql
  models/spark/sources.yml
Owners: @NastiaMitiushkina, @lexx-a, @g00sek

rename default schema to models
  production/adhoc/profiles.yml
  production/profiles/profiles.yml
Owners: @lexx-a, @g00sek

add promocodes to ads spends for cppu
  models/spark/onfy/onfy_cppu_day.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update sources.yml
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

attributed promocodes per day
  models/spark/onfy/onfy_cppu_day.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Adjust priorities for jobs on SLO critical paths
  models/spark/engagement/user_segments.sql
  models/spark/mart/context_product_counters_v5.sql
  models/spark/mart/fact_user_points_transactions.sql
  models/spark/mart/product_rating_segment.sql
Owners: @lexx-a, @g00sek

Update dim_user.sql
  models/spark/b2b_mart/dim/dim_user.sql
Owners: @NastiaMitiushkina

Update dim_user.sql
  models/spark/b2b_mart/dim/dim_user.sql
Owners: @NastiaMitiushkina
