Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

add bigquery_upload_horizon_days to email_verigications.sql (#1517)
  models/spark/order_lifecycle/email_verifications.sql
Owners: none

Update onfy_metric_sheet.sql (#1518)
  models/spark/onfy/onfy_metric_sheet.sql
Owners: none

Update fact_marketing_utm_interactions.sql (#1519)
  models/spark/b2b_mart/fact/marketing/fact_marketing_utm_interactions.sql
Owners: none

Update fact_marketing_utm_interactions.sql (#1521)
  models/spark/b2b_mart/fact/marketing/fact_marketing_utm_interactions.sql
Owners: none

Update fact_deals_status_history.sql (#1520)
  models/spark/b2b_mart/fact/fact_deals_status_history.sql
Owners: none

support profiles dir in cleanup script
  cleanup.py
  infra/dbtjoom/find.py
  infra/dbtjoom/invocation.py
  run.py
Owners: @msafonov, @boltonidze

Update onfy_discount_rules_manual.csv (#1522)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Update auto_discount_rules.sql (#1523)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

Update onfy_discount_rules_manual.csv (#1524)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Update gmv_by_sources_wo_filters.sql (#1525)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Update gmv_by_sources.sql (#1526)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: none

add columns order_gross_profit_final_estimated, gmv_initial and is_fi… (#1527)
  models/spark/core/payments/payment_order.sql
  models/spark/core/payments/src_payments.yml
Owners: @g00sek

Update purchasing_and_production_report.sql (#1528)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

Update fact_marketing_utm_interactions.sql (#1529)
  models/spark/b2b_mart/fact/marketing/fact_marketing_utm_interactions.sql
Owners: none

Update onfy_nonperf_spend.csv (#1530)
  seeds/onfy_nonperf_spend.csv
Owners: none

Exclude a.pushkareva from small batch (#1531)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

Update ss_users_table.sql (#1532)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: none

Update ss_users_table.sql (#1533)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: none

make gold_logistics_orders incremental (#1516)
  models/spark/gold/gold_logistics_orders.sql
Owners: @g00sek, @joomcode/analytics-developers

update model.orders (#1510)
  models/spark/base/orders.sql
Owners: @g00sek

[AN-4139] added merchant price and fix merchant,kam (#1534)
  models/spark/category_management/fbj/fbj_variant_statistics.sql
  models/spark/category_management/fbj/scr_fbj_variant_statistics.yml
  models/spark/sources.yml
Owners: none

Update purchasing_and_production_report.sql (#1536)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

:zap: improve perfomance (#1535)
  models/spark/core/ml_product/adtech_revenues_extended.sql
  models/spark/sources.yml
Owners: @g00sek

fix data format in platform tasks
  infra/dbtjoom/types.py
  models/spark/platform/airflow_task_end_stats.sql
  models/spark/platform/dependency_producers.sql
  models/spark/platform/ftu_end_stats.sql
  models/spark/platform/manual_tables.sql
Owners: @msafonov, @boltonidze

update run.py
  infra/dbtjoom/find.py
  infra/dbtjoom/invocation.py
Owners: @msafonov, @boltonidze

Add currency to purchasing_and_production_report.sql (#1538)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

update github actions (#1537)
  .github/scripts/get_no_fileformat.py
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: none

drop obsolete run scripts
  run.sh
  run2.sh
  run_drop.sh
  run_fast.sh
Owners: none

fix file format for some models
  models/spark/anomaly_detection/aws_costs.sql
  models/spark/anomaly_detection/gmv_initial_for_sop.sql
  models/spark/anomaly_detection/s3_costs.sql
  models/spark/junk2/dbt_test2.sql
Owners: none

Update onfy_metric_sheet.sql (#1539)
  models/spark/onfy/onfy_metric_sheet.sql
Owners: none

Update onfy_metric_sheet.sql (#1540)
  models/spark/onfy/onfy_metric_sheet.sql
Owners: none

Update purchasing_and_production_report.sql (#1541)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

PhAn-996 Add EAN into Stock monitoring dashboard (#1542)
  models/spark/onfy/stock_monitoring.sql
Owners: none

fix airflow_task_end_stats.sql schema
  models/spark/platform/airflow_task_end_stats.sql
Owners: none

Update stock_monitoring.sql (#1543)
  models/spark/onfy/stock_monitoring.sql
Owners: none

[PRO-10445[ Create sourcing_report.sql (#1544)
  models/spark/b2b_mart/dashboards/sourcing_report_issues.sql
  models/spark/b2b_mart/dashboards/sourcing_report_offers.sql
Owners: none

Update sourcing_report_issues.sql (#1545)
  models/spark/b2b_mart/dashboards/sourcing_report_issues.sql
Owners: none

Update fact_deals_with_requests.sql (#1546)
  models/spark/b2b_mart/fact/fact_deals_with_requests.sql
Owners: none

Update fact_deals_with_requests.sql (#1547)
  models/spark/b2b_mart/fact/fact_deals_with_requests.sql
Owners: none

Text search success rate (#1548)
  models/spark/search/text_search_success_prepare_extracts.sql
Owners: none

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek
