Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

make sqlfluff happy
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

make gold_orders incremental
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/dashboards/user_points_transactions.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fixes
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fix column name
  models/spark/core/payments/payment_order.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fix column incremental strategy
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fix columns
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

update file_format for ephemeral macros
  macros/gold_active_users_and_devices_with_ephemeral.sql
Owners: @dmgburg

fix partition_by in macros
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

tune partition_by/incremental
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/dashboards/user_points_transactions.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_users.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

fix syntax
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fixes
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

tuning incremental strategy
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fix
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

sales data for progect metrics
  models/spark/base_mart_mart.promotions.sql
  models/spark/customer_routing/web/sales_data_daily.sql
  models/spark/customer_routing/web/sales_data_overview.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

code style fixing
  models/spark/base_mart_mart.promotions.sql
  models/spark/customer_routing/web/sales_data_daily.sql
  models/spark/customer_routing/web/sales_data_overview.sql
Owners: @lexx-a, @g00sek

code style fixing
  models/spark/base_mart_mart.promotions.sql
  models/spark/customer_routing/web/sales_data_daily.sql
  models/spark/customer_routing/web/sales_data_overview.sql
Owners: @lexx-a, @g00sek

fsk whitespaces correction
  models/spark/base_mart_mart.promotions.sql
  models/spark/customer_routing/web/sales_data_overview.sql
Owners: @lexx-a, @g00sek

adding a platform dimention
  models/spark/customer_routing/web/sales_data_daily.sql
  models/spark/customer_routing/web/sales_data_overview.sql
Owners: @lexx-a, @g00sek

update periosd for dev
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

make active devices/users incremental
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
Owners: @dmgburg, @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
Owners: @lexx-a, @g00sek

make users models non-incremental
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_users.sql
Owners: @dmgburg, @lexx-a, @g00sek

fix column order for payment_order.sql
  models/spark/core/payments/payment_order.sql
Owners: @lexx-a, @g00sek

make active users non incremental
  models/spark/base/active_users.sql
Owners: @lexx-a, @g00sek

fixes + drop dev periods
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
  models/spark/core/payments/payment_order.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets.sql
  models/spark/support/support_mart_babylone_tickets.sql
Owners: @lexx-a, @g00sek

Fix join fails due to trailing spaces
  models/spark/platform/slo_tables.sql
Owners: @lexx-a, @g00sek

Use holistics_api_data in slo_tables
  models/spark/platform/holistics_api_data.sql
  models/spark/platform/slo_tables.sql
Owners: @lexx-a, @g00sek

Update sla_order_product.sql
  models/spark/b2b_mart/sla_order_product.sql
Owners: @NastiaMitiushkina

add order cost calculation
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Disable counts check for holistics_api_data
  models/spark/platform/holistics_api_data.sql
Owners: @lexx-a, @g00sek

Create scd2_deals_snapshot.sql
  snapshots/spark/b2b_mart/scd2_deals_snapshot.sql
Owners: @NastiaMitiushkina

Update sources.yml
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update scd2_deals_snapshot.sql
  snapshots/spark/b2b_mart/scd2_deals_snapshot.sql
Owners: @NastiaMitiushkina

make incremental update work
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/gold/gold_orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
