Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg

Update support_mart_csat.sql
  models/spark/support/support_mart_csat.sql
Owners: @lexx-a, @g00sek

Update support_mart_agent_actions.sql
  models/spark/support/support_mart_agent_actions.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets_joompay.sql
  models/spark/support/support_mart_babylone_tickets_joompay.sql
Owners: @lexx-a, @g00sek

Update support_mart_subject_names.sql
  models/spark/support/support_mart_subject_names.sql
Owners: @lexx-a, @g00sek

Update ndc_order_costs.sql
  models/spark/support/ndc_order_costs.sql
Owners: @lexx-a, @g00sek

Update qa_support_tickets.sql
  models/spark/support/qa_support_tickets.sql
Owners: @lexx-a, @g00sek

Update csat_every_mark.sql
  models/spark/support/csat_every_mark.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets_jl.sql
  models/spark/support/support_mart_babylone_tickets_jl.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets_jl.sql
  models/spark/support/support_mart_babylone_tickets_jl.sql
Owners: @lexx-a, @g00sek

minor changes to campaign match (#36)
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

fix schemas
  models/spark/base/orders.sql
  models/spark/gold/src_gold.yml
Owners: @lexx-a, @g00sek

support: fix commas in config
  models/spark/support/csat_every_mark.sql
  models/spark/support/ndc_order_costs.sql
  models/spark/support/qa_support_tickets.sql
  models/spark/support/support_mart_agent_actions.sql
  models/spark/support/support_mart_babylone_tickets_joompay.sql
  models/spark/support/support_mart_babylone_tickets_onfy.sql
  models/spark/support/support_mart_csat.sql
  models/spark/support/support_mart_subject_names.sql
Owners: @lexx-a, @g00sek

Update sales_pipeline.sql
  models/spark/b2b_mart/sales_pipeline.sql
Owners: @NastiaMitiushkina

Update sla_order_product.sql
  models/spark/b2b_mart/sla_order_product.sql
Owners: @NastiaMitiushkina

Update sales_pipeline.sql
  models/spark/b2b_mart/sales_pipeline.sql
Owners: @NastiaMitiushkina

Update sales_pipeline.sql
  models/spark/b2b_mart/sales_pipeline.sql
Owners: @NastiaMitiushkina

adding cart analytics table code
  models/spark/onfy/onfy_cart_research.sql
  models/spark/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD, @lexx-a, @g00sek

fix src_payments.yml
  models/spark/core/payments/src_payments.yml
Owners: @lexx-a, @g00sek

fixing linter
  models/spark/onfy/onfy_cart_research.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

fixing linter
  models/spark/onfy/onfy_cart_research.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

SQLFluff autofixes
  models/spark/onfy/onfy_cart_research.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update sla_order_product.sql
  models/spark/b2b_mart/sla_order_product.sql
Owners: @NastiaMitiushkina

Update sla_order_product.sql
  models/spark/b2b_mart/sla_order_product.sql
Owners: @NastiaMitiushkina

minor update pdate onfy_cart_research.sql
  models/spark/onfy/onfy_cart_research.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

add values (#48)
  seeds/utm_campaigns_corrected.csv
Owners: @lexx-a, @g00sek

Added SLO for JM Plan Fact reports
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

Check if branch is up-to-date with master before prod dbt run
  run_production.sh
Owners: @lexx-a, @g00sek

:bug: Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

major update for facebook campaigns (#50)
  models/spark/onfy/sources.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Check if branch is up-to-date with master before prod dbt run
  run_production.sh
Owners: @lexx-a, @g00sek

deleted
  models/spark/order_lifecycle/logistics_speed_gmv.sql
Owners: @lexx-a, @g00sek

Move to hourly pool
  models/spark/platform/slo_tables.sql
Owners: @lexx-a, @g00sek

adding a source screen to conversion_funnel
  models/spark/onfy/conversion_funnel.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update email_verifications.sql
  models/spark/order_lifecycle/email_verifications.sql
Owners: @lexx-a, @g00sek

Update csat_every_mark.sql
  models/spark/support/csat_every_mark.sql
Owners: @lexx-a, @g00sek

Update ndc_order_costs.sql
  models/spark/support/ndc_order_costs.sql
Owners: @lexx-a, @g00sek

Update qa_support_tickets.sql
  models/spark/support/qa_support_tickets.sql
Owners: @lexx-a, @g00sek

Update support_mart_agent_actions.sql
  models/spark/support/support_mart_agent_actions.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets.sql
  models/spark/support/support_mart_babylone_tickets.sql
Owners: @lexx-a, @g00sek

Update support_mart_babylone_tickets_jl.sql
  models/spark/support/support_mart_babylone_tickets_jl.sql
Owners: @lexx-a, @g00sek
