Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @msafonov, @g00sek

CODEOWNERS:

b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @msafonov
/analytics/ @msafonov
/models/spark/gold/ @msafonov @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek

Update fact_issues.sql (#574)
  models/spark/b2b_mart/fact/fact_issues.sql
Owners: @NastiaMitiushkina

Create ss_retention.sql (#575)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#576)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#578)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#579)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_users_table.sql (#580)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#581)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#582)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#583)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

adding_utm_label (#584)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
  models/spark/b2b_mart/ss/ss_page_views.sql
  models/spark/b2b_mart/ss/ss_retention.sql
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#585)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#586)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#587)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_users_table.sql (#588)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#589)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

Update ss_retention.sql (#590)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: @NastiaMitiushkina

proposals for backend (#563)
  models/spark/category_management/proposals_for_backend.sql
Owners: none

order info join by order_group_id from payment_order (#577)
  models/spark/core/payments/payment_order.sql
  models/spark/sources.yml
Owners: @g00sek

Update refunds.sql (#591)
  models/spark/onfy/refunds.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

:sparkles: added `gmv_initial` (#592)
  models/spark/anomaly_detection/gross_profit_estimation_change.sql
Owners: none

remove `web_analytics_cohorts_v4` (#593)
  models/spark/ads/web_analytics_cohorts_v4_view.sql
  models/spark/sources.yml
Owners: none

:sparkles: added day `0` (#594)
  models/spark/anomaly_detection/gross_profit_estimation_change.sql
Owners: none

Update fact_amo_crm_raw_leads.sql (#595)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

trying fix with partition_date (#597)
  models/spark/category_management/proposals_for_backend.sql
  seeds/manual_tables_seed.csv
Owners: none

revert fb_ctr deletion (#596)
  models/spark/onfy/fb_ctr.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_issues.sql (#598)
  models/spark/b2b_mart/fact/fact_issues.sql
Owners: @NastiaMitiushkina

Update fact_deals.sql (#599)
  models/spark/b2b_mart/fact/fact_deals.sql
Owners: @NastiaMitiushkina

Create fact_contact_merchant_statuses.sql (#600)
  models/spark/b2b_mart/fact/statuses/fact_contact_merchant_statuses.sql
Owners: @NastiaMitiushkina

Update fact_contact_merchant_statuses.sql (#601)
  models/spark/b2b_mart/fact/statuses/fact_contact_merchant_statuses.sql
Owners: @NastiaMitiushkina

Update fact_contact_merchant_statuses.sql (#602)
  models/spark/b2b_mart/fact/statuses/fact_contact_merchant_statuses.sql
Owners: @NastiaMitiushkina

change type of warnings (#603)
  models/spark/category_management/proposals_for_backend.sql
Owners: none

Fix scema of js for backend (#604)
  models/spark/category_management/proposals_for_backend.sql
Owners: none

test (#605)
  models/spark/category_management/proposals_for_backend.sql
Owners: none

replace "" by null (#606)
  models/spark/category_management/proposals_for_backend.sql
Owners: none

Update fact_amo_crm_raw_leads.sql (#607)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#608)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

PhAn-715-add-reco-model (#610)
  models/spark/onfy/recommendations_conversions.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Update recommendations_conversions.sql (#612)
  models/spark/onfy/recommendations_conversions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update recommendations_conversions.sql (#613)
  models/spark/onfy/recommendations_conversions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

MERCHANT-12530 Fix money fields in mongo.merchant_order (#615)
  models/spark/mongo/merchant_order.sql
Owners: none
