Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek

Update stock_monitoring.sql (#1552)
  models/spark/onfy/stock_monitoring.sql
Owners: none

add job to filter data for relevance markup and move scripts to folder (#1551)
  models/spark/search/success_by_relevance/text_search_success_filter_for_markup.sql
  models/spark/search/success_by_relevance/text_search_success_prepare_extracts.sql
Owners: none

Update onfy_discount_rules_manual.csv (#1553)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Fix paid post discount (#1554)
  models/spark/mongo/merchant_order.sql
Owners: none

Add country to sourcing_report_issues.sql (#1556)
  models/spark/b2b_mart/dashboards/sourcing_report_issues.sql
Owners: none

Update sourcing_report_issues.sql (#1557)
  models/spark/b2b_mart/dashboards/sourcing_report_issues.sql
Owners: none

[AN-4151] deleted two unused tables, fixed one config (#1555)
  models/spark/category_management/fbj/product_stocks/fbj_product_stocks_current.sql
  models/spark/category_management/products_diagnoses_current.sql
  models/spark/category_management/published_products_with_card_data.sql
  models/spark/sources.yml
Owners: none

actualize list of top countries by GMV (#1550)
  models/spark/gold/gold_regions.sql
Owners: @g00sek, @joomcode/analytics-developers

Update gmv_by_sources_wo_filters.sql (#1558)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Update gmv_by_sources.sql (#1559)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: none

Update gmv_by_sources_wo_filters.sql (#1560)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

JPA-1875 add product_tracker_items_in_cube (#1561)
  tests/spark/pulse/product_tracker_items_in_cube.sql
Owners: none

JPA-1875 add product_tracker_items to sources (#1563)
  models/spark/sources.yml
Owners: none

add catalog relevance + rename (#1564)
  models/spark/search/success_by_relevance/search_success_prepare_extracts.sql
  models/spark/search/success_by_relevance/text_search_success_filter_for_markup.sql
  models/spark/sources.yml
Owners: none

add index table to manual (#1565)
  seeds/manual_tables_seed.csv
Owners: none

Remove cube.jl_external_cube_v10_days from slo
  seeds/slo_details_seed.csv
  seeds/slo_tables_seed.csv
Owners: none

delete AU from top countries (#1567)
  models/spark/gold/gold_regions.sql
Owners: @g00sek, @joomcode/analytics-developers

PRO-10994 (#1566)
  models/spark/b2b_mart/merchant/merchant_products.sql
  models/spark/b2b_mart/sources.yml
  models/spark/b2b_mart/ss_assortment/ss_assortment_products.sql
Owners: none

An 4156 (#1562)
  models/spark/gold/gold_countries.sql
  models/spark/gold/src_gold.yml
  seeds/countries_properties_seed.csv
Owners: @g00sek, @joomcode/analytics-developers

Deprecated merchant tables (#1568)
  models/spark/b2b_mart/fact/fact_merchants.sql
  snapshots/spark/b2b_mart/scd2_merchants_snapshot.sql
Owners: none

Extending merchant products table (#1570)
  models/spark/b2b_mart/merchant/merchant_products.sql
Owners: none

change format data for markup (#1571)
  models/spark/search/success_by_relevance/search_success_prepare_extracts.sql
  models/spark/search/success_by_relevance/text_search_success_filter_for_markup.sql
Owners: none

delete legacy groupby (#1574)
  models/spark/search/success_by_relevance/text_search_success_filter_for_markup.sql
Owners: none

update run sh logic (#1572)
  infra/dbtjoom/find.py
  run.py
Owners: @msafonov, @boltonidze

fix typing in run
  infra/dbtjoom/find.py
Owners: @msafonov, @boltonidze

Payments: add app_entity (#1575)
  models/spark/core/payments/payment_order.sql
Owners: @g00sek

Nastia mitiushkina patch 7 (#1579)
  models/spark/sources.yml
  tests/spark/pulse/number_of_items_parsed_check.sql
Owners: none

Adding country code (#1577)
  models/spark/b2b_mart/ss/ss_events_by_session.sql
Owners: none

fix run.sh, add a new one that must user library
  infra/dbtjoom/drop.py
  infra/dbtjoom/utils.py
  run2.sh
Owners: @msafonov, @boltonidze

add final join for search success metric (#1581)
  models/spark/search/success_by_relevance/search_success_model.sql
  models/spark/search/success_by_relevance/search_success_prepare_extracts.sql
  models/spark/search/success_by_relevance/text_search_success_filter_for_markup.sql
  models/spark/sources.yml
  seeds/manual_tables_seed.csv
Owners: none

add field is_last_7_days (#1582)
  models/spark/search/success_by_relevance/search_success_model.sql
Owners: none

[AN-4140] add a new table with fbj parcel speed (#1580)
  models/spark/category_management/fbj/fbj_parcel_speed.sql
  models/spark/category_management/fbj/scr_fbj_parcel_speed.yml
Owners: none

fix misspell (#1583)
  models/spark/search/success_by_relevance/text_search_success_filter_for_markup.sql
Owners: none

fix misspell 2 (#1584)
  models/spark/search/success_by_relevance/search_success_model.sql
Owners: none

olc_dbt_alerts changed to support-etl-monitoring (#1585)
  models/spark/order_lifecycle/email_verifications.sql
  models/spark/support/csat_every_mark.sql
  models/spark/support/ndc_order_costs.sql
  models/spark/support/qa_support_tickets.sql
  models/spark/support/support_mart_agent_actions.sql
  models/spark/support/support_mart_babylone_tickets.sql
  models/spark/support/support_mart_babylone_tickets_jl.sql
  models/spark/support/support_mart_csat.sql
  models/spark/support/support_mart_subject_names.sql
  models/spark/support/support_mart_ticket_id_ext.sql
  models/spark/support/support_mart_ticket_id_ext_jl.sql
Owners: none

Update fact_marketing_utm_interactions.sql (#1587)
  models/spark/b2b_mart/fact/marketing/fact_marketing_utm_interactions.sql
Owners: none

Create ss_retention.sql (#1586)
  models/spark/b2b_mart/ss/ss_retention.sql
Owners: none

Rename ss_retention.sql to ss_retention_cohorts.sql (#1588)
  models/spark/b2b_mart/ss/ss_retention_cohorts.sql
Owners: none

Update ss_retention_cohorts.sql (#1589)
  models/spark/b2b_mart/ss/ss_retention_cohorts.sql
Owners: none

Update ss_retention_cohorts.sql (#1590)
  models/spark/b2b_mart/ss/ss_retention_cohorts.sql
Owners: none
