Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek

Add new fields to procurement_orders_statuses.sql (#1882)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/procurement_orders_statuses.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
Owners: none

Update purchasing_and_production_report_sla_stages.sql (#1883)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
Owners: none

[PRO-12516] Create purchasing_and_production_report_sla_stages_by_dea… (#1884)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Update purchasing_and_production_report_sla_stages.sql (#1885)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Update ss_events_cjm.sql (#1886)
  models/spark/b2b_mart/ss/ss_events_cjm.sql
Owners: none

Update lndc_user_attribution.sql (#1887)
  models/spark/onfy/lndc_user_attribution.sql
Owners: none

PhAn_1017 Added delta as a new file format (#1888)
  models/spark/onfy/stock_monitoring.sql
Owners: none

Update purchasing_and_production_report_sla_stages.sql (#1889)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Temporarily disabled the building of purchasing_and_production_report_sla_stages_by_deals
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Revert: temporarily disabled the building of purchasing_and_production_report_sla_stages_by_deals
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Update onfy_discount_rules_manual.csv (#1890)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Update purchasing_and_production_report_sla_stages_by_deals.sql (#1892)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Delete models/spark/b2b_mart/dashboards/purchasing_and_production_rep… (#1893)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

[PRO-12694] Added GMV (#1894)
  seeds/joom_pro_manual_orders.csv
Owners: none

Update analytics_payments.sql (#1896)
  models/spark/pulse/analytics_payments.sql
Owners: none

Update fact_issues.sql (#1897)
  models/spark/b2b_mart/fact/fact_issues.sql
Owners: none

Update onfy_nonperf_spend.csv (#1898)
  seeds/onfy_nonperf_spend.csv
Owners: none

Update analytics_payments.sql (#1900)
  models/spark/pulse/analytics_payments.sql
Owners: none

[PRO-12625] Add is_small_batch_issue to sourcing_report_issues.sql (#1901)
  models/spark/b2b_mart/dashboards/sourcing_report/sourcing_report_issues.sql
Owners: none

Added time-sensitive trigger to the Onfy's dag (#1895)
  infra/dags_schedule.yaml
Owners: @msafonov, @boltonidze

PhAn-1055 Retention Table with 'ref' instead of 'source' and 'delta' … (#1902)
  models/spark/onfy/retention.sql
Owners: none

Update analytics_payments.sql (#1903)
  models/spark/pulse/analytics_payments.sql
Owners: none

Update competitors_best_prices.sql (#1899)
  models/spark/onfy/competitors_best_prices.sql
Owners: none

Update procurement_order_id_duplicates_check.sql (#1904)
  tests/spark/b2b_mart/procurement_order_id_duplicates_check.sql
  tests/spark/b2b_mart/procurement_order_id_null_check.sql
Owners: none

PhAn_1055 Added materialized and incremental_strategy to retention table (#1905)
  models/spark/onfy/retention.sql
Owners: none

PhAn_1055 In table Indc_user_attribute substitured source with ref an… (#1906)
  models/spark/onfy/lndc_user_attribution.sql
Owners: none

PhAn_1055 Updated 'onfy.transactions' table (#1907)
  models/spark/onfy/transactions.sql
Owners: none

Update purchasing_and_production_report.sql (#1908)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/procurement_orders_boxes.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/procurement_orders_statuses.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
Owners: none

PhAn_1055 Updated stock_monitoring.sql (#1909)
  models/spark/onfy/stock_monitoring.sql
Owners: none

[PRO-12085] Create ai_chat_bot_message_sent.sql (#1910)
  models/spark/b2b_mart/dashboards/ai_chat_bot/ai_chat_bot_message_sent.sql
  models/spark/b2b_mart/dashboards/ai_chat_bot/ai_chat_bot_stopped.sql
Owners: none

PhAn_1055 Updated ads_dashboard.sql (#1911)
  models/spark/onfy/ads_dashboard.sql
Owners: none

Add 1 day to SLA for Payment to Merchant (#1913)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
Owners: none

set BQ max_diff fraction for gold.order_goups
  models/spark/gold/gold_order_groups.sql
Owners: @g00sek, @joomcode/analytics-developers

Update analytics_payments.sql (#1914)
  models/spark/pulse/analytics_payments.sql
Owners: none

Update fact_order_product_statuses.sql (#1915)
  models/spark/b2b_mart/fact/statuses/fact_order_product_statuses.sql
Owners: none

add real search flag (#1916)
  models/spark/b2b_mart/ss/ss_events_search.sql
Owners: none

PhAn_1055 Updated ads_spends.sql (#1917)
  models/spark/onfy/ads_spends.sql
Owners: none

PhAn_1055 Updated auto_discount_rules.sql (#1918)
  models/spark/onfy/auto_discount_rules.sql
Owners: none

PhAn_1055 Updated in onfy schema: awin_revision, b2b_categories, bann… (#1920)
  models/spark/onfy/awin_revision.sql
  models/spark/onfy/b2b_categories_dash.sql
  models/spark/onfy/banners_stats.sql
  models/spark/onfy/catalogs_stats.sql
  models/spark/onfy/competitors_best_prices.sql
  models/spark/onfy/sources.yml
Owners: none

PhAn_1055 Updated onfy_discount_rules.sql (#1921)
  models/spark/onfy/onfy_discount_rules.sql
  models/spark/onfy/sources.yml
Owners: none
