Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @msafonov, @g00sek

remove products from manual bl (#614)
  models/spark/category_management/products_with_target_price.sql
  models/spark/category_management/proposals_for_backend.sql
  models/spark/sources.yml
Owners: none

Update ss_funnel_table.sql (#617)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

change source for user email hash (#616)
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

drop ads spends from manual tables (#618)
  seeds/manual_tables_seed.csv
Owners: none

Update fact_amo_crm_raw_leads.sql (#619)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Add customer_gmv to merchant_order (#620)
  models/spark/mongo/merchant_order.sql
Owners: none

Analytics Payments (#622)
  models/spark/b2b_mart/analytics/analytics_payments.sql
  models/spark/b2b_mart/sources.yml
Owners: @NastiaMitiushkina

Nastia mitiushkina patch 5 (#625)
  models/spark/b2b_mart/key/key_sla_stage.sql
  models/spark/b2b_mart/sla/jp_sla_logistics_new.sql
  models/spark/b2b_mart/sources.yml
Owners: @NastiaMitiushkina

Update jp_sla_logistics_new.sql (#626)
  models/spark/b2b_mart/sla/jp_sla_logistics_new.sql
Owners: @NastiaMitiushkina

fix gol_active_real_users table
  models/spark/gold/gold_active_real_users.sql
Owners: @msafonov, @g00sek

add joompro_analytics.mercadolibre_product_measurements to manual tables
  seeds/manual_tables_seed.csv
Owners: none

add manual product list and fix of the price spiral (#627)
  models/spark/category_management/products_with_target_price.sql
  models/spark/sources.yml
Owners: none

add tender orders status history (#630)
  models/spark/category_management/merchants_requests_for_influencer.sql
  models/spark/sources.yml
Owners: none

fix of duplicates (#631)
  models/spark/category_management/merchants_requests_for_influencer.sql
Owners: none

fix payment duplicates (#632)
  models/spark/onfy/conversion_funnel_new.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Test commit
  models/spark/junk2/dbt_fact_active_device.sql
Owners: none

https://joom-team.atlassian.net/browse/AN-3112#icft=AN-3112 (#629)
  models/spark/category_management/products_without_docs.sql
  models/spark/sources.yml
Owners: none

:sparkles: created `holistics_api_data_versioned` (#633)
  models/spark/platform/holistics_api_data_versioned.sql
Owners: none

Update fact_order_change.sql (#635)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Test run optimization: if the model has not been changed, the table is copied from the prod
  infra/get_tables_to_copy_from_prod.py
  macros/spark_adapter_patch/create_table.sql
  models/spark/junk2/dbt_test2.sql
  run_optimized.sh
Owners: @msafonov, @g00sek

Test models (they will be removed)
  models/spark/junk2/rebuild_test_0.sql
  models/spark/junk2/rebuild_test_1.sql
  models/spark/junk2/rebuild_test_2.sql
  models/spark/junk2/rebuild_test_3.sql
  models/spark/junk2/rebuild_test_4.sql
  models/spark/junk2/rebuild_test_5.sql
  models/spark/junk2/rebuild_test_6.sql
  models/spark/junk2/rebuild_test_7.sql
  models/spark/junk2/rebuild_test_8.sql
  models/spark/junk2/rebuild_test_9.sql
Owners: none

Fix typo in fact_order_change
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

change folders (#637)
  models/spark/b2b_mart/dashboards/merchant_stream_metrics.sql
  models/spark/b2b_mart/dashboards/next_status_for_funnel_field.sql
  models/spark/b2b_mart/dashboards/price_estimation_validated_leads.sql
  models/spark/b2b_mart/fact/fact_merchant_order.sql
  models/spark/b2b_mart/fact/fact_merchant_type.sql
  models/spark/b2b_mart/fact/fact_order_product_deal.sql
  models/spark/b2b_mart/fact/fact_order_products.sql
  models/spark/b2b_mart/fact/fact_orders_costs.sql
  models/spark/b2b_mart/fact/fact_promocodes.sql
  models/spark/b2b_mart/fact/fact_psi.sql
  models/spark/b2b_mart/fact/fact_rfq_deals.sql
  models/spark/b2b_mart/fact/fact_rfq_requests.sql
  models/spark/b2b_mart/fact/fact_rfq_response.sql
  models/spark/b2b_mart/fact/fact_sdr_promocodes.sql
  models/spark/b2b_mart/fact/fact_user_change.sql
  models/spark/b2b_mart/fact/fact_user_request.sql
  models/spark/b2b_mart/key/interactions_funnel.sql
  models/spark/b2b_mart/key/support_roles.sql
  models/spark/b2b_mart/outdated/merchant_rating_di.sql
  models/spark/b2b_mart/outdated/order_lifecycle_metrics.sql
  models/spark/b2b_mart/outdated/production_sales_stream_metrics.sql
  models/spark/b2b_mart/outdated/products_suggestion.sql
  models/spark/b2b_mart/outdated/rfq_metrics.sql
  models/spark/b2b_mart/outdated/sales_pipeline.sql
  models/spark/b2b_mart/outdated/sdr_pipeline.sql
  models/spark/b2b_mart/outdated/user_admin_plans.sql
  models/spark/b2b_mart/outdated/users_daily_table.sql
  models/spark/b2b_mart/sat/sat_product_appendixes.sql
  models/spark/b2b_mart/sat/sat_product_state.sql
  models/spark/b2b_mart/sat/sat_published_product.sql
  models/spark/b2b_mart/sat/sat_published_variant.sql
  models/spark/b2b_mart/sat/sat_variant_appendixes.sql
  models/spark/b2b_mart/sla/sla_manufacturing_days.sql
Owners: @NastiaMitiushkina

Added JM Plan Fact Priority SLO (#636)
  seeds/slo_details_seed.csv
  seeds/slo_tables_seed.csv
Owners: none

:memo: (#611)
  models/spark/gold/discrepancies.md
  models/spark/gold/gold_logistics_orders.sql
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

Test run optimization creates views
  infra/get_tables_to_copy_from_prod.py
  macros/spark_adapter_patch/create_table.sql
  run_optimized.sh
Owners: @msafonov, @g00sek

Rename test run script
  run_fast.sh
Owners: none

Update fact_deals_statuses_change.sql (#638)
  models/spark/b2b_mart/fact/statuses/fact_deals_statuses_change.sql
Owners: @NastiaMitiushkina

Comments for get_tables_to_copy_from_prod.py
  infra/get_tables_to_copy_from_prod.py
Owners: @msafonov

Delete test models
  models/spark/junk2/rebuild_test_0.sql
  models/spark/junk2/rebuild_test_1.sql
  models/spark/junk2/rebuild_test_2.sql
  models/spark/junk2/rebuild_test_3.sql
  models/spark/junk2/rebuild_test_4.sql
  models/spark/junk2/rebuild_test_5.sql
  models/spark/junk2/rebuild_test_6.sql
  models/spark/junk2/rebuild_test_7.sql
  models/spark/junk2/rebuild_test_8.sql
  models/spark/junk2/rebuild_test_9.sql
Owners: none

Revert deleting check_out_datetime_utc (it's used in other jobs)
  models/spark/gold/gold_logistics_orders.sql
Owners: @msafonov, @g00sek

Add joompro_mart.mercadolibre_shops to manual_tables_seed.csv
  seeds/manual_tables_seed.csv
Owners: none

Update ss_funnel_table.sql (#639)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

Update ss_funnel_table.sql (#640)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

Update ss_funnel_table.sql (#641)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

Update conversion_funnel_new.sql (#642)
  models/spark/onfy/conversion_funnel_new.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

:sparkles: added `is_delivered_by_jl` (#643)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: none

Update slo_tables_seed.csv
  seeds/slo_tables_seed.csv
Owners: none

An 3326 (#644)
  models/spark/gold/gold_orders.sql
Owners: @msafonov, @g00sek

CODEOWNERS:

b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @msafonov
/analytics/ @msafonov
/models/spark/gold/ @msafonov @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek
