Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek

Update ss_events_customer_journey.sql (#2047)
  models/spark/b2b_mart/ss/ss_events_customer_journey.sql
Owners: none

csat refactoring (#2048)
  models/spark/support/support_mart_babylone_tickets.sql
Owners: none

uzum porducts model created (#2050)
  models/spark/sources.yml
  models/spark/uzum/uzum_available_products.sql
  seeds/uzum_restricted_categories.csv
  seeds/uzum_stopwords.csv
Owners: none

jms_orders model added (#2051)
  models/spark/jms/core/jms_orders.sql
Owners: none

fix stupid error (#2052)
  models/spark/support/support_mart_babylone_tickets.sql
Owners: none

Add origin_offer_id to fact_customer_offers.sql (#2053)
  models/spark/b2b_mart/fact/fact_customer_offers.sql
Owners: none

Adding Documentation for Important Tables and Dashboards (annzaychik) (#2054)
  models/spark/onfy/fb_landing_page.sql
  models/spark/onfy/idealo_landing_page_cr.sql
  models/spark/onfy/onfy_price_comparison.sql
Owners: none

Update ss_assortment_products.sql (#2055)
  models/spark/b2b_mart/ss_assortment/ss_assortment_products.sql
Owners: none

Update marketing_deals_with_orders.sql (#2056)
  models/spark/b2b_mart/dashboards/marketing_deals_with_orders.sql
Owners: none

Update marketing_deals_with_orders.sql (#2058)
  models/spark/b2b_mart/dashboards/marketing_deals_with_orders.sql
Owners: none

Update src_onfy.yml (#2059)
  models/spark/onfy/src_onfy.yml
Owners: none

gold_orders: add partner_payout field (#2057)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
  models/spark/sources.yml
Owners: @g00sek, @joomcode/analytics-developers

Update src_onfy.yml (#2060)
  models/spark/onfy/src_onfy.yml
Owners: none

Update src_onfy.yml (#2061)
  models/spark/onfy/src_onfy.yml
Owners: none

New/jms models - jms_orders model improvements (#2062)
  models/spark/jms/core/jms_orders.sql
  models/spark/sources.yml
Owners: none

on_chema_change added (#2064)
  models/spark/jms/core/jms_orders.sql
Owners: none

Update src_onfy.yml (#2065)
  models/spark/onfy/src_onfy.yml
Owners: none

source_jms_pnl_logistics model added (#2066)
  models/spark/jms/pnl/source/source_jms_pnl_logistics.sql
  models/spark/sources.yml
  seeds/manual_tables_seed.csv
Owners: none

Support/opan1112 creare bs ip overview raw data (#2067)
  models/spark/payments/bs_ip_overview.sql
  models/spark/payments/bs_ip_overview_raw_data.sql
  models/spark/payments/src_payments.yml
Owners: none

Update joom_pro_manual_orders.csv (#2069)
  seeds/joom_pro_manual_orders.csv
Owners: none

Add new reject reason name (#2070)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/procurement_orders.sql
Owners: none

Add confidence interval to search success metric (#2068)
  models/spark/search/success_by_relevance/search_success_aggregated.sql
Owners: none

fix table alias (#2071)
  models/spark/search/success_by_relevance/search_success_aggregated.sql
Owners: none

fix partition_by field (#2072)
  models/spark/search/success_by_relevance/search_success_aggregated.sql
Owners: none

Update ss_retention_paid_cohorts.sql (#2074)
  models/spark/b2b_mart/ss/ss_retention_paid_cohorts.sql
Owners: none

[PRO-13476] CNPJ to Marketing Deals Table (#2073)
  models/spark/b2b_mart/dashboards/marketing_deals_with_orders.sql
Owners: none

Update manual_tables_seed.csv (#2075)
  seeds/manual_tables_seed.csv
Owners: none

Update onfy_nonperf_spend.csv (#2076)
  seeds/onfy_nonperf_spend.csv
Owners: none

Update fact_marketing_lead_stages_interactions.sql (#2078)
  models/spark/b2b_mart/fact/marketing/fact_marketing_lead_stages_interactions.sql
Owners: none

[PRO-13109] Create shipment_orders.sql (#2077)
  models/spark/b2b_mart/dashboards/logistics_report/last_mile_orders.sql
  models/spark/b2b_mart/dashboards/logistics_report/last_mile_orders_statuses.sql
  models/spark/b2b_mart/dashboards/logistics_report/shipment_deals.sql
  models/spark/b2b_mart/dashboards/logistics_report/shipment_orders.sql
  models/spark/b2b_mart/dashboards/logistics_report/shipment_orders_statuses.sql
  models/spark/b2b_mart/sources.yml
Owners: none

jms_pnl model added, source_jms_pnl_logistics model fixed (#2079)
  models/spark/jms/pnl/jms_pnl.sql
  models/spark/jms/pnl/source/source_jms_pnl_logistics.sql
Owners: none

Adding Documentation for Important Tables and Dashboards (annzaychik) (#2080)
  models/spark/onfy/src_onfy.yml
Owners: none

Exclude anisimov_d@joom.com from Purchasing and Production Report (#2081)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/procurement_orders.sql
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
Owners: none

Remove duplicate config parameters full_reload_on
  models/spark/core/ml_product/adtech_revenues_extended.sql
Owners: @g00sek

Adjusting and repairing recommendation attribution in Source Campaign Monitoring (#2083)
  models/spark/onfy/onfy_source_campaign_funnels.sql
  models/spark/onfy/src_onfy.yml
Owners: none

JPA-2397 update products_without_creation_date_check (#2084)
  models/spark/sources.yml
  tests/spark/pulse/products_without_creation_date_check.sql
Owners: none

[PRO-13532] Deal & PO Daily Snapshots (#2082)
  models/spark/b2b_mart/sources.yml
  snapshots/spark/b2b_mart/scd2_mongo_core_analytic_deal_prices.sql
  snapshots/spark/b2b_mart/scd2_mongo_core_analytic_order_product_prices.sql
Owners: none

gross profit calculation fixed (#2085)
  models/spark/jms/pnl/jms_pnl.sql
Owners: none

Create purchasing_and_production_report_sla_stages_by_deals.sql (#2086)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages_by_deals.sql
Owners: none

Update purchasing_and_production_report_sla_stages.sql (#2087)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report/purchasing_and_production_report_sla_stages.sql
Owners: none
