Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

An 2945 (#343)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
  models/spark/sources.yml
Owners: @msafonov, @g00sek, @lexx-a

PhAn-640-creating-stock-monitoring-mart (#344)
  models/spark/onfy/sources.yml
  models/spark/onfy/stock_monitoring.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_psi.sql (#350)
  models/spark/b2b_mart/fact_psi.sql
Owners: @NastiaMitiushkina

Update fact_psi.sql (#351)
  models/spark/b2b_mart/fact_psi.sql
Owners: @NastiaMitiushkina

Update fact_psi.sql (#352)
  models/spark/b2b_mart/fact_psi.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#353)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update fact_psi.sql (#354)
  models/spark/b2b_mart/fact_psi.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#356)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

:bug: Update bmpl_target_margin.sql (#357)
  models/spark/dashboards/bmpl_target_margin.sql
Owners: @lexx-a, @g00sek

Update fact_merchant_order.sql (#358)
  models/spark/b2b_mart/fact_merchant_order.sql
Owners: @NastiaMitiushkina

Update tochka.sql (#360)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#361)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Payment order fix (#359)
  models/spark/core/payments/payment_order.sql
  models/spark/core/payments/src_payments.yml
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update key_issue_status.sql (#362)
  models/spark/b2b_mart/key/key_issue_status.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#363)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

armenia -> other (#364)
  seeds/countries_properties.csv
Owners: @lexx-a, @g00sek

changing-dates-interval (#366)
  models/spark/onfy/stock_monitoring.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

An 2945 (#355)
  models/spark/gold/gold_orders.sql
Owners: @msafonov, @g00sek

фикс gold таблицы payment order - поля с рефандами (#365)
  models/spark/gold/gold_payment_orders.sql
Owners: @msafonov, @g00sek

Update fact_order_change.sql (#367)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Update fact_order_change.sql (#368)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Update fact_order_change.sql (#369)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Update fact_order_change.sql (#370)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Update fact_order_change.sql (#371)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Update fact_order_change.sql (#372)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Update fact_order_change.sql (#373)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

PhAn-640-fixing-dates (#374)
  models/spark/onfy/stock_monitoring.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

PhAn-640-changing-columns-names (#375)
  models/spark/onfy/stock_monitoring.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_amo_crm_raw_leads.sql (#377)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

roas without discounts (#376)
  models/spark/onfy/idealo_landing_page_cr.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_amo_crm_raw_leads.sql (#378)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update tochka.sql (#379)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update tochka.sql (#380)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

B2b categories dash 1801 (#381)
  models/spark/onfy/b2b_categories_dash.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

:sparkles: added `gold_active_real_users` (#298)
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/gold/gold_active_real_users.sql
  models/spark/gold/src_gold.yml
Owners: @dmgburg, @msafonov, @g00sek

Update fact_merchant_order.sql (#383)
  models/spark/b2b_mart/fact_merchant_order.sql
Owners: @NastiaMitiushkina

Create key_payment_status.sql (#384)
  models/spark/b2b_mart/key/key_payment_status.sql
Owners: @NastiaMitiushkina

Update fact_merchant_order_statuses.sql (#385)
  models/spark/b2b_mart/fact/statuses/fact_merchant_order_statuses.sql
Owners: @NastiaMitiushkina

Update production_stream_metrics.sql (#386)
  models/spark/b2b_mart/production_stream_metrics.sql
Owners: @NastiaMitiushkina

Update jp_sla_payments.sql (#387)
  models/spark/b2b_mart/sla/jp_sla_payments.sql
Owners: @NastiaMitiushkina

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek
