Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek

MERCHANT-11682 Add Created by and Disabled by to merchant
  models/spark/merchant/sat_merchant.sql
Owners: @lexx-a, @g00sek

Update fact_orders_costs.sql (#459)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_orders_costs.sql (#460)
  models/spark/b2b_mart/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Create fact_merchant_orders_costs.sql (#461)
  models/spark/b2b_mart/fact/fact_merchant_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_merchant_order_statuses.sql (#462)
  models/spark/b2b_mart/fact/statuses/fact_merchant_order_statuses.sql
Owners: @NastiaMitiushkina

Update fact_merchant_orders_costs.sql (#464)
  models/spark/b2b_mart/fact/fact_merchant_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_merchant_orders_costs.sql (#465)
  models/spark/b2b_mart/fact/fact_merchant_orders_costs.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#466)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

:seedling: (#467)
  seeds/product_outliers_seed.csv
Owners: @lexx-a, @g00sek

PnAn-672-fixing-duplicates (#468)
  models/spark/onfy/orders_info.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

JS daily metrics (#463)
  models/spark/category_management/joom_select/initial_metrics_set.sql
Owners: @lexx-a, @g00sek

forming target price and fix of category duplications (#469)
  models/spark/category_management/initial_metrics_set.sql
  models/spark/category_management/products_with_target_price.sql
Owners: @lexx-a, @g00sek

fixing orders for session start / end (#471)
  models/spark/onfy/sessions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

fix of proposal_id (#470)
  models/spark/category_management/initial_metrics_set.sql
  models/spark/category_management/products_with_target_price.sql
Owners: @lexx-a, @g00sek

dates added for first launch (#473)
  models/spark/category_management/initial_metrics_set.sql
  models/spark/category_management/products_with_target_price.sql
Owners: @lexx-a, @g00sek

Update sessions.sql (#474)
  models/spark/onfy/sessions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

JPA 360 add first_name
  models/spark/b2b_mart/dim/dim_analytics_user.sql
Owners: @NastiaMitiushkina

JPA 360 checkout_page_visits and plans_page_visits
  models/spark/jpa/customer_360.sql
Owners: @lexx-a, @g00sek

JPA enrich 360 dashboard
  models/spark/jpa/customer_360.sql
Owners: @lexx-a, @g00sek

Update scd2_mongo_order.sql (#475)
  models/spark/b2b_mart/scd2/scd2_mongo_order.sql
Owners: @NastiaMitiushkina

Update fact_order.sql (#476)
  models/spark/b2b_mart/fact/fact_order.sql
Owners: @NastiaMitiushkina

change tables for models (#477)
  models/spark/category_management/initial_metrics_set.sql
  models/spark/category_management/products_with_target_price.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Add manual tables check for spark tables
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

Add manual tables check for spark tables
  models/spark/category_management/initial_metrics_set.sql
Owners: @lexx-a, @g00sek

Add manual tables check for spark tables
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

Add manual tables check for spark tables
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: @lexx-a, @g00sek

Add manual tables check for spark tables
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

Add manual tables check for spark tables
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

Fix checkout
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
Owners: @lexx-a, @g00sek

Remove non-working model and it's sources
  models/spark/onfy/fb_ctr.sql
  models/spark/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD, @lexx-a, @g00sek

PhAn-641-new-conversion-funnel-mart (#480)
  models/spark/onfy/conversion_funnel_new.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

:sparkles: update `jm_markup` (#481)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

Create fact_issues_deal_purchase_support.sql (#483)
  models/spark/b2b_mart/fact/statuses/fact_issues_deal_purchase_support.sql
Owners: @NastiaMitiushkina

create table for medicine analogs (#484)
  models/spark/onfy/onfy_medicine_analogs.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_issues_deal_purchase_support.sql (#485)
  models/spark/b2b_mart/fact/statuses/fact_issues_deal_purchase_support.sql
Owners: @NastiaMitiushkina

B2b categories analogs 2702 (#486)
  models/spark/onfy/b2b_categories_dash.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Fix products with target price (#487)
  models/spark/category_management/products_with_target_price.sql
Owners: @lexx-a, @g00sek

date change for filling 18 feb (#488)
  models/spark/category_management/initial_metrics_set.sql
Owners: @lexx-a, @g00sek

Update fact_amo_crm_raw_leads.sql (#491)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_issues_deal_purchase_support.sql (#492)
  models/spark/b2b_mart/fact/statuses/fact_issues_deal_purchase_support.sql
Owners: @NastiaMitiushkina
