Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek

add arguments to drop_junk_tables.py
  drop_junk_tables.py
Owners: none

add run_drop.sh
  run_drop.sh
Owners: none

PhAn_968 First version of catalogs_stats (#1370)
  models/spark/onfy/catalogs_stats.sql
Owners: none

PhAn_968 Changes in start date (CURRENT_DATE() - INTERVAL 3 MONTH) (#1371)
  models/spark/onfy/banners_stats.sql
  models/spark/onfy/recommendations_stats.sql
Owners: none

filter previous event_date rows (#1374)
  models/spark/ranker/prepare_extracts_for_best_quality_metrics.sql
Owners: none

ranking funnel from events (#1375)
  models/spark/push/ranking_funnel.sql
Owners: none

PhAn_968 Corrected bug in clicks counting (#1376)
  models/spark/onfy/banners_stats.sql
Owners: none

extended table for PI 1688 dashboard (#1373)
  models/spark/category_management/1688/1688_products_price_index.sql
  models/spark/sources.yml
Owners: none

Update purchasing_and_production_report.sql (#1377)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

Pro pulse (#1379)
  models/spark/pulse/pro_devices.sql
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

PB-8046 [Backend] Clever limits (#1378)
  seeds/onfy_limit_rules.csv
  seeds/properties.yml
Owners: none

Update onfy_discount_rules_manual.csv (#1380)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Delete snapshots/spark/b2b_mart/scd2_variant_appendixes_snapshot.sql (#1382)
  snapshots/spark/b2b_mart/scd2_variant_appendixes_snapshot.sql
Owners: none

Pulse pro devices (#1384)
  models/spark/b2b_mart/sources.yml
  models/spark/pulse/pro_devices.sql
  models/spark/pulse/pulse_pro_devices.sql
Owners: none

Update gmv_by_sources_wo_filters.sql (#1385)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Update gmv_by_sources.sql (#1386)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: none

[AN-4057] Readded Contribution Profit SLO (#1381)
  seeds/slo_details_seed.csv
Owners: none

Update ss_users_table.sql (#1387)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: none

Update purchasing_and_production_report.sql (#1388)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

Small slo improvements
  models/spark/platform/airflow_task_instance_daily.sql
  models/spark/platform/ftu_archive.sql
Owners: none

Fix typo
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Update pro_pulse_funnel.sql (#1389)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update pro_pulse_funnel.sql (#1392)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update onfy_nonperf_spend.csv (#1393)
  seeds/onfy_nonperf_spend.csv
Owners: none

add points allocation model (#1390)
  models/spark/dashboards/src_points.yml
  models/spark/dashboards/user_points_transactions.sql
  models/spark/points/allocation_model_readme.md
  models/spark/points/src_points_allocated.yml
  models/spark/points/user_points_transactions_allocated.sql
Owners: none

relevance of campaigns (#1383)
  models/spark/push/ranking_relevance.sql
  models/spark/sources.yml
Owners: none

https://joom-team.atlassian.net/browse/AN-4023 (#1391)
  models/spark/push/push_ranking_results.sql
Owners: none

remove incorrect division (#1394)
  models/spark/points/user_points_transactions_allocated.sql
Owners: none

change partition column name (#1395)
  models/spark/points/user_points_transactions_allocated.sql
Owners: none

support retry and full-refresh in run_drop
  drop_junk_tables.py
  run_drop.sh
Owners: none

Change priority for ads slo
  seeds/slo_details_seed.csv
Owners: none

[AN-4053] Added Funnel Flags (#1372)
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_devices_funnel.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_real_users.sql
  models/spark/sources.yml
Owners: @msafonov, @g00sek, @boltonidze, @joomcode/analytics-developers

[AN-4053] Changed Date Column Type (#1396)
  models/spark/base/active_devices_funnel.sql
Owners: @g00sek

Update pro_pulse_funnel.sql (#1397)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update pro_pulse_funnel.sql (#1398)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update purchasing_and_production_report.sql (#1399)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

Update pro_pulse_funnel.sql (#1400)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update pro_pulse_funnel.sql (#1401)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update pro_pulse_funnel.sql (#1402)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none

Update pro_pulse_funnel.sql (#1403)
  models/spark/pulse/pro_pulse_funnel.sql
Owners: none
