Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

Fix name changes and add categoryIds (#314)
  models/spark/merchant/sat_merchant.sql
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

Return back names (#315)
  models/spark/merchant/sat_merchant.sql
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

add category_id to holistics_api_data.sql
  models/spark/platform/holistics_api_data.sql
Owners: @lexx-a, @g00sek

add category_id to holistics_api_data.sql
  models/spark/platform/holistics_api_data.sql
Owners: @lexx-a, @g00sek

add holistics_cache_updater_wbl seed
  seeds/holistics_cache_updater_wbl.csv
  seeds/properties.yml
Owners: @lexx-a, @g00sek

added country priority_type (#316)
  models/spark/gold/gold_countries.sql
  models/spark/gold/src_gold.yml
  seeds/countries_currencies.csv
  seeds/countries_properties.csv
Owners: @msafonov, @g00sek, @lexx-a

Experiments decisions: update author field format
  models/spark/experiments/decisions.sql
Owners: @lexx-a, @g00sek

An 2932 add focused coountries (#317)
  models/spark/gold/gold_countries.sql
  models/spark/gold/src_gold.yml
  seeds/countries_properties.csv
Owners: @msafonov, @g00sek, @lexx-a

fixed several countries (#318)
  seeds/countries_properties.csv
Owners: @lexx-a, @g00sek

Update rfq_sent_to_merchants.sql (#319)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: @NastiaMitiushkina

Create partner_leads.sql (#320)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#321)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#322)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#323)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#324)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#325)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#327)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#328)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Create tochka.sql (#329)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#330)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update rfq_sent_to_merchants.sql (#331)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: @NastiaMitiushkina

Update tochka.sql (#332)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update tochka.sql (#333)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update GHA actions
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-jobs-pr-seeds.yaml
  .github/workflows/dbt-jobs-pr-tests.yaml
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Update GHA actions
  .github/workflows/dbt-jobs-autodeploy.yaml
  .github/workflows/dbt-run-production.yaml
Owners: @lexx-a, @g00sek

Update tochka.sql (#334)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_contacts_phones.sql (#335)
  models/spark/b2b_mart/fact/fact_amo_crm_contacts_phones.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#336)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#337)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#338)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_attribution_interaction.sql (#339)
  models/spark/b2b_mart/fact/fact_amo_attribution_interaction.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#340)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

roll out 0 cr and roas thresholds (#326)
  models/spark/onfy/idealo_landing_page_cr.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update partner_leads.sql (#342)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Feature/payment order date filter (#341)
  models/spark/core/payments/payment_order.sql
Owners: @lexx-a, @g00sek

Update rfq_sent_to_merchants.sql (#345)
  models/spark/b2b_mart/rfq_sent_to_merchants.sql
Owners: @NastiaMitiushkina

Update partner_leads.sql (#346)
  models/spark/b2b_mart/partner_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_attribution_interaction.sql (#347)
  models/spark/b2b_mart/fact/fact_amo_attribution_interaction.sql
Owners: @NastiaMitiushkina

Update fact_psi.sql (#348)
  models/spark/b2b_mart/fact_psi.sql
Owners: @NastiaMitiushkina

Update fact_psi.sql (#349)
  models/spark/b2b_mart/fact_psi.sql
Owners: @NastiaMitiushkina

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek
