Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @msafonov, @boltonidze, @g00sek, @joomcode/analytics-developers

CODEOWNERS:

/deploy/ @msafonov @boltonidze
/infra/ @msafonov @boltonidze
/macros/ @msafonov @g00sek @boltonidze
/analytics/ @msafonov @boltonidze
/models/spark/gold/ @g00sek @joomcode/analytics-developers
/models/spark/base @g00sek
/models/spark/core @g00sek

Feature/jms orders model - removed outdated fields (#1480)
  models/spark/dashboards/src_jms.yml
Owners: none

Update jms_merchant_orders.sql - more unnecessary fields removed (#1481)
  models/spark/dashboards/jms_merchant_orders.sql
Owners: none

Include all gold.* tables to slo_gold
  seeds/slo_tables_seed.csv
Owners: none

Fix incorrect gold table name
  seeds/slo_tables_seed.csv
Owners: none

fixes in join condition (#1482)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

Collection funnel fixes (#1483)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

condition fixes (#1484)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

fixes v1 (#1485)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

JPA-1740 return creation_date_null_check (#1487)
  tests/spark/pulse/creation_date_null_check.sql
Owners: none

changing back to the old version of the data model (#1486)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

switched model owners (#1489)
  models/spark/mart/product_outliers.sql
  snapshots/spark/advertising/scd2_order_gross_profit_final_estimated.sql
Owners: none

Scd2 retargeting last click roas by adjust (#1490)
  models/spark/sources.yml
  snapshots/spark/advertising/scd2_retargeting_last_click_roas_by_adjust.sql
Owners: none

Fix syntax bug (#1492)
  models/spark/b2b_mart/ss/ss_collections_funnel.sql
Owners: none

reverted bots filtering logic (#1493)
  models/spark/b2b_mart/ss/ss_events_by_session.sql
Owners: none

Fix syntax bug (#1494)
  models/spark/b2b_mart/ss/ss_events_by_session.sql
Owners: none

Update gmv_by_sources_wo_filters.sql (#1495)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Update gmv_by_sources.sql (#1496)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: none

scd2_retargeting_last_click_roas_by_adjust.sql: remove
  snapshots/spark/advertising/scd2_retargeting_last_click_roas_by_adjust.sql
Owners: none

Update merchant_rating_di.sql (#1497)
  models/spark/b2b_mart/outdated/merchant_rating_di.sql
Owners: none

Add merchant_price to fact_customer_requests_variants.sql (#1498)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: none

add bs_ip_overview model (#1491)
  models/spark/core/payments/src_payments.yml
  models/spark/payments/bs_ip_overview.sql
  models/spark/payments/src_payments.yml
Owners: @g00sek

add order_group_id to payment model (#1499)
  models/spark/core/payments/payment.sql
  models/spark/core/payments/src_payments.yml
  models/spark/sources.yml
Owners: @g00sek

Update analytics_payments.sql (#1500)
  models/spark/pulse/analytics_payments.sql
Owners: none

Update analytics_subscriptions.sql (#1501)
  models/spark/pulse/analytics_subscriptions.sql
Owners: none

Update onfy_discount_rules_manual.csv (#1502)
  seeds/onfy_discount_rules_manual.csv
Owners: none

Add promo_code to deals (#1503)
  models/spark/b2b_mart/fact/fact_deals.sql
  models/spark/b2b_mart/fact/fact_deals_with_requests.sql
  snapshots/spark/b2b_mart/scd2_deals_snapshot.sql
Owners: none

Update merchant_rating_di.sql (#1504)
  models/spark/b2b_mart/outdated/merchant_rating_di.sql
Owners: none

Update scd2_deals_snapshot.sql (#1505)
  snapshots/spark/b2b_mart/scd2_deals_snapshot.sql
Owners: none

Update gmv_by_sources_wo_filters.sql (#1506)
  models/spark/b2b_mart/gmv_by_sources_wo_filters.sql
Owners: none

Update gmv_by_sources.sql (#1507)
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: none

add cleanup script
  cleanup.py
  infra/dbtjoom/load.py
Owners: @msafonov, @boltonidze

Update purchasing_and_production_report.sql (#1509)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

[AN-4099] add replenishment group id as main replenishment (#1508)
  models/spark/category_management/fbj/fbj_merchant_replenishments.sql
  models/spark/sources.yml
Owners: none

Add packaging to purchasing_and_production_report.sql (#1511)
  models/spark/b2b_mart/dashboards/purchasing_and_production_report.sql
Owners: none

Move from scd2 to mongo for fact_issues.sql (#1512)
  models/spark/b2b_mart/fact/fact_issues.sql
  models/spark/b2b_mart/fact/fact_issues_assignee_history.sql
  models/spark/b2b_mart/fact/statuses/fact_issues_statuses.sql
Owners: none

Update fact_issues.sql (#1513)
  models/spark/b2b_mart/fact/fact_issues.sql
Owners: none

Update fact_issues.sql (#1514)
  models/spark/b2b_mart/fact/fact_issues.sql
Owners: none

fix cleanup.py
  cleanup.py
Owners: none

fix cleaning scripts
  infra/dbtjoom/drop.py
  infra/dbtjoom/s3.py
Owners: @msafonov, @boltonidze

Create fact_deals_status_history.sql (#1515)
  models/spark/b2b_mart/fact/fact_deals_status_history.sql
Owners: none
