Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg, @msafonov

:sparkles: added metrics per date (#430)
  models/spark/dashboards/bmpl_target_margin.sql
Owners: @lexx-a, @g00sek

MERCHANT-11714 Add joom select proposal analytics tables (#425)
  models/spark/mart/dim_joom_select_proposal.sql
  models/spark/mart/src_mart.yml
  models/spark/merchant/dim_merchant_payment_channel.sql
  models/spark/merchant/moderation/risky_moderation_tasks.sql
  models/spark/merchant/src_merchant.yml
  models/spark/mongo/joom_select_proposal.sql
  models/spark/sources.yml
  snapshots/spark/merchant/scd2_mongo_joom_select_proposal.sql
Owners: @lexx-a, @g00sek

Update fact_amo_crm_raw_leads.sql (#431)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#432)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_customers.sql (#433)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#434)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_customers.sql (#435)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: @NastiaMitiushkina

Update fact_customers.sql (#436)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#437)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#438)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_customers.sql (#439)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: @NastiaMitiushkina

Update tochka.sql (#440)
  models/spark/b2b_mart/tochka.sql
Owners: @NastiaMitiushkina

Update fact_customers.sql (#441)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: @NastiaMitiushkina

Feature/gold orders (#443)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

Hotfix: jl_cost_final_estimated fix in CTEs (#444)
  models/spark/gold/gold_orders.sql
Owners: @msafonov, @g00sek

drop dependency on ads spends (#446)
  models/spark/onfy/fb_landing_page.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

JPA fact_user_activity
  models/spark/jpa/fact_user_activity.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

JPA model fix
  models/spark/jpa/fact_user_activity.sql
Owners: @lexx-a, @g00sek

Update fact_customers.sql (#447)
  models/spark/b2b_mart/fact/fact_customers.sql
Owners: @NastiaMitiushkina

An 3035 (#445)
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_real_users.sql
  models/spark/gold/gold_active_users.sql
  models/spark/gold/gold_logistics_orders.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
  seeds/countries_properties.csv
Owners: @dmgburg, @msafonov, @g00sek, @lexx-a

Update fact_amo_crm_raw_leads.sql (#448)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#449)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update jp_sla_production.sql (#450)
  models/spark/b2b_mart/sla/jp_sla_production.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#451)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_merchant_order_statuses.sql (#452)
  models/spark/b2b_mart/fact/statuses/fact_merchant_order_statuses.sql
Owners: @NastiaMitiushkina

PhAn-672-fixing-device-in-onfy-orders-info (#453)
  models/spark/onfy/orders_info.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update fact_amo_crm_raw_leads.sql (#455)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update fact_amo_crm_raw_leads.sql (#456)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

JPA customer_360
  models/spark/jpa/customer_360.sql
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Remove duplicate source for b2b_mart
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

[DASHBOARDS-65] Add SLO for Main and Logistics stages by tracking checkpoints (#457)
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

:bug: updated `item_price` (#454)
  models/spark/gold/gold_orders.sql
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

JPA customer_360 bigquery_override_dataset_id
  models/spark/jpa/customer_360.sql
Owners: @lexx-a, @g00sek

PhAn-672-fixing-ctes (#458)
  models/spark/onfy/orders_info.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

JPA chabge schema for customer_360 view
  models/spark/jpa/customer_360.sql
Owners: @lexx-a, @g00sek

Disable counts check for JPA customer_360
  models/spark/jpa/customer_360.sql
Owners: @lexx-a, @g00sek

MERCHANT-11682 Add Created by and Disabled by to merchant
  models/spark/merchant/sat_merchant.sql
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

MERCHANT-11682 Add Created by and Disabled by to merchant
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

MERCHANT-11682 Add Created by and Disabled by to merchant
  models/spark/merchant/sat_merchant.sql
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

MERCHANT-11682 Add Created by and Disabled by to merchant
  models/spark/merchant/sat_merchant.sql
  models/spark/mongo/merchant.sql
  snapshots/spark/merchant/scd2_mongo_merchant.sql
Owners: @lexx-a, @g00sek

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
/models/spark/gold/ @msafonov @g00sek
