Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @msafonov, @g00sek

CODEOWNERS:

b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @msafonov
/analytics/ @msafonov
/models/spark/gold/ @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek

fixed exploding the whole product_availability table (#672)
  models/spark/category_management/products_without_docs.sql
Owners: none

Update fact_customer_requests_variants.sql (#675)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: @NastiaMitiushkina

Update fact_customer_requests_variants.sql (#676)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: @NastiaMitiushkina

PB-7074 [Backend] Different group of products (#671)
  seeds/onfy_dicount_rule.csv
Owners: none

[DASHBOARDS-106] Add customer vat (#677)
  models/spark/mongo/merchant_order.sql
Owners: none

Add test delta tables
  models/spark/junk2/rebuild_test_0.sql
  models/spark/junk2/rebuild_test_1.sql
  models/spark/junk2/rebuild_test_2.sql
Owners: none

PB-7074 Create rules table (#679)
  seeds/onfy_discount_rule.csv
  seeds/properties.yml
Owners: none

PB-7074 Init row (#680)
  seeds/onfy_discount_rule.csv
Owners: none

Update fact_amo_crm_raw_leads.sql (#681)
  models/spark/b2b_mart/fact/fact_amo_crm_raw_leads.sql
Owners: @NastiaMitiushkina

Update scd2_calculations_snapshot.sql (#682)
  snapshots/spark/b2b_mart/scd2_calculations_snapshot.sql
Owners: @NastiaMitiushkina

new field deals table (#683)
  models/spark/b2b_mart/fact/fact_deals.sql
Owners: @NastiaMitiushkina

Update scd2_calculations_snapshot.sql (#684)
  snapshots/spark/b2b_mart/scd2_calculations_snapshot.sql
Owners: @NastiaMitiushkina

run_fast: fix building of delta tables
  macros/spark_adapter_patch/create_table.sql
Owners: @msafonov, @g00sek

Remove test models
  models/spark/junk2/rebuild_test_0.sql
  models/spark/junk2/rebuild_test_1.sql
  models/spark/junk2/rebuild_test_2.sql
Owners: none

change model owner in logistics (#685)
  models/spark/logistics/dashboards/consolidation/ali_tariffs.sql
  models/spark/logistics/dashboards/consolidation/jl_ali_costs_comparison.sql
  models/spark/logistics/dashboards/consolidation/jl_tariffs.sql
  models/spark/logistics/dashboards/consolidation/parcels_for_price_comparison.sql
  models/spark/sources.yml
  snapshots/spark/logistics/scd2_mongo_logistics_customer_features_daily.sql
Owners: none

[DASHBOARDS-106] Add JMS GMV model (#678)
  models/spark/dashboards/jms_merchant_orders.sql
  models/spark/dashboards/src_jms.yml
  models/spark/sources.yml
Owners: none

Update ss_events_startsession.sql (#686)
  models/spark/b2b_mart/ss/ss_events_startsession.sql
Owners: @NastiaMitiushkina

[DASHBOARDS-106] Added marketplace_created_time (#687)
  models/spark/mongo/merchant_order.sql
Owners: none

[DASHBOARDS-106] Fix the date (#688)
  models/spark/dashboards/jms_merchant_orders.sql
  models/spark/dashboards/src_jms.yml
Owners: none

PB-7074 Seed for onfy discount rules (#689)
  seeds/onfy_discount_rule.csv
  seeds/onfy_discount_rules.csv
  seeds/properties.yml
Owners: none

cart's ecents (#690)
  models/spark/b2b_mart/ss/ss_events_cart.sql
Owners: @NastiaMitiushkina

slo_plan_fact: set priority to 2
  seeds/slo_details_seed.csv
Owners: none

slo_overview_logistics: route alerts to logistics channel
  seeds/slo_details_seed.csv
Owners: none

PhAn-762-change-already bought-naming (#692)
  models/spark/onfy/recommendations_conversions.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update ss_users_table.sql (#693)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

PhAn-764 Awin revision (#694)
  models/spark/onfy/awin_revision.sql
  models/spark/onfy/sources.yml
Owners: @anyazay, @ea-sal, @BartolomeuD

Update ss_events_startsession.sql (#697)
  models/spark/b2b_mart/ss/ss_events_startsession.sql
Owners: @NastiaMitiushkina

fully reload real-user based incremental models once a week (#691)
  macros/gold_active_users_and_devices_with_ephemeral.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/customer_routing/web/device_from_ads_landing_pages.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_orders.sql
  models/spark/support/support_mart_ticket_id_ext_onfy.sql
Owners: @msafonov, @g00sek

Update fact_customer_requests_variants.sql (#700)
  models/spark/b2b_mart/fact/fact_customer_requests_variants.sql
Owners: @NastiaMitiushkina

[DASHBOARDS-120] Deleted current date from JMS orders (#699)
  models/spark/dashboards/jms_merchant_orders.sql
Owners: none

Update fact_orders_costs.sql (#701)
  models/spark/b2b_mart/fact/fact_orders_costs.sql
Owners: @NastiaMitiushkina

Del onfy models (#702)
  models/spark/support/support_mart_babylone_tickets_onfy.sql
  models/spark/support/support_mart_ticket_id_ext_onfy.sql
Owners: none

Update fact_order_change.sql (#703)
  models/spark/b2b_mart/fact/fact_order_change.sql
Owners: @NastiaMitiushkina

Remove SLOs related to real user segments.
  seeds/slo_details_seed.csv
Owners: none

Update ss_published_products.sql (#704)
  models/spark/b2b_mart/ss/ss_published_products.sql
Owners: @NastiaMitiushkina

update aws-credentials
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: none

update aws-credentials
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: none

update aws-credentials
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: none

update aws-credentials
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: none

fix autodeploy
  .github/workflows/dbt-jobs-autodeploy.yaml
Owners: none
