Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @msafonov, @g00sek

AN-2869 (#540)
  models/spark/category_management/merchants_requests_for_influencer.sql
  models/spark/sources.yml
  seeds/manual_tables_seed.csv
Owners: none

status_meaning_fix (#543)
  models/spark/category_management/merchants_requests_for_influencer.sql
Owners: none

Replaced onfy_support_business_hours.csv with a new one (#544)
  seeds/onfy_support_business_hours.csv
Owners: none

MERCHANT-12129 mongo.merchant_order (#533)
  models/spark/mongo/merchant_order.sql
  models/spark/sources.yml
Owners: none

SLO: replace gburg with analytics.duty
  seeds/slo_details_seed.csv
Owners: none

remove additional discount (#545)
  models/spark/category_management/products_with_target_price.sql
  seeds/manual_tables_seed.csv
Owners: none

change current_price_usd conditions (#546)
  models/spark/category_management/products_with_target_price.sql
Owners: none

PhAn-693: new ads spends dataset (#547)
  models/spark/onfy/ads_spends.sql
  models/spark/onfy/sources.yml
  seeds/manual_tables_seed.csv
Owners: @anyazay, @ea-sal, @BartolomeuD

avg_price_alg (#548)
  models/spark/category_management/products_with_target_price.sql
Owners: none

Add priority to SLO
  seeds/slo_details_seed.csv
Owners: none

tables_sli_report: add data_readiness tag
  models/spark/platform/tables_sli_report.sql
Owners: none

tables_sli_report: include priority
  models/spark/platform/tables_sli_report.sql
Owners: none

slo_details_seed: correct priorities
  seeds/slo_details_seed.csv
Owners: none

tables_sli_report: correct completion time aggregation
  models/spark/platform/tables_sli_report.sql
Owners: none

tables_sli_report: max, not min.
  models/spark/platform/tables_sli_report.sql
Owners: none

Give priority 1 to move SLI
  seeds/slo_details_seed.csv
Owners: none

Reduce SLO priority for 'jm base tables'
  seeds/slo_details_seed.csv
Owners: none

Set SLI target for pivots at 80%
  seeds/slo_details_seed.csv
Owners: none

MERCHANT-12353 merchant order source id (#551)
  models/spark/mongo/merchant_order.sql
Owners: none

Update SLO target to 90% on P1 SLOs
  seeds/slo_details_seed.csv
Owners: none

ohm campaigns verbose (#553)
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

adjusted description (#552)
  models/spark/gold/src_gold.yml
Owners: @msafonov, @g00sek

add columns for verbose source & campaign (#554)
  models/spark/onfy/ads_dashboard.sql
  models/spark/onfy/lndc_user_attribution.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update forecast_warehousing.sql (#556)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Update fact_order.sql (#557)
  models/spark/b2b_mart/fact/fact_order.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#558)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

Add ss_customer to deals (#559)
  models/spark/b2b_mart/fact/fact_customers.sql
  models/spark/b2b_mart/fact/fact_deals.sql
  models/spark/b2b_mart/sat/sat_customers.sql
Owners: @NastiaMitiushkina

Update forecast_warehousing.sql (#560)
  models/spark/b2b_mart/forecast_warehousing.sql
Owners: @NastiaMitiushkina

fix attribution for apps (#561)
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Update conversion_funnel_new.sql (#562)
  models/spark/onfy/conversion_funnel_new.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

:sparkles: added `bigquery_load` (#564)
  models/spark/platform/tables_sli_report.sql
Owners: none

An 3220 (#565)
  models/spark/platform/tables_sli_report.sql
Owners: none

Create ss_users_table.sql (#566)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

Create ss_funnel_table.sql (#568)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

added manual tables (#567)
  seeds/manual_tables_seed.csv
Owners: none

Update ss_users_table.sql (#569)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

Update ss_funnel_table.sql (#570)
  models/spark/b2b_mart/ss/ss_funnel_table.sql
Owners: @NastiaMitiushkina

Update ss_users_table.sql (#571)
  models/spark/b2b_mart/ss/ss_users_table.sql
Owners: @NastiaMitiushkina

Create ss_page_views.sql (#572)
  models/spark/b2b_mart/ss/ss_page_views.sql
Owners: @NastiaMitiushkina

Update ss_page_views.sql (#573)
  models/spark/b2b_mart/ss/ss_page_views.sql
Owners: @NastiaMitiushkina

CODEOWNERS:

b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @msafonov
/infra/ @msafonov
/macros/ @msafonov @g00sek
/tests/ @msafonov
/analytics/ @msafonov
/models/spark/gold/ @msafonov @g00sek
/models/spark/base @g00sek
/models/spark/core @g00sek
