Repository david-but-its-daweed/dbt-spark-models, changes with the owners that CODEOWNERS names for each.
All owners: @lexx-a, @g00sek, @NastiaMitiushkina, @anyazay, @ea-sal, @BartolomeuD, @dmgburg

remove partitioning from "decisions" model
  models/spark/experiments/decisions.sql
Owners: @lexx-a, @g00sek

user.pointsTransactions is now pints.pointsTransactions
  models/spark/mart/fact_user_points_transactions.sql
Owners: @lexx-a, @g00sek

user.pointsTransactions is now pints.pointsTransactions
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update fact_attribution_interaction.sql
  models/spark/b2b_mart/fact_attribution_interaction.sql
Owners: @NastiaMitiushkina

Update fact_attribution_interaction.sql
  models/spark/b2b_mart/fact_attribution_interaction.sql
Owners: @NastiaMitiushkina

Delete audience_metrics_v2.sql
  models/spark/ads/audience_metrics_v2.sql
Owners: @lexx-a, @g00sek

reload_full_tables_to_bq
  models/spark/merchant/moderation/manual_categorization_tasks.sql
  models/spark/merchant/moderation/manual_moderation_tasks.sql
  models/spark/merchant/moderation/risky_moderation_tasks.sql
Owners: @lexx-a, @g00sek

Update jp_sla_logistics.sql
  models/spark/b2b_mart/sla/jp_sla_logistics.sql
Owners: @NastiaMitiushkina

Update temp_rfq_deals_orders.sql
  models/spark/b2b_mart/temp/temp_rfq_deals_orders.sql
Owners: @NastiaMitiushkina

Update temp_rfq_deals_orders.sql
  models/spark/b2b_mart/temp/temp_rfq_deals_orders.sql
Owners: @NastiaMitiushkina

Column badOrderId is absent in the new points_transactions collection
  models/spark/mart/fact_user_points_transactions.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/mart/fact_user_points_transactions.sql
Owners: @lexx-a, @g00sek

Increase priority for SLO dependency
  models/spark/b2b_mart/gmv_by_sources.sql
Owners: @NastiaMitiushkina

fact_user_points_transactions: make bad_order_id boolean
  models/spark/mart/fact_user_points_transactions.sql
Owners: @lexx-a, @g00sek

Update gold_active_users_and_devices_with_ephemeral.sql
  macros/gold_active_users_and_devices_with_ephemeral.sql
Owners: @dmgburg

new version of endtoend
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

Create scd2_merchant_attributes_snapshot.sql
  snapshots/spark/b2b_mart/scd2_merchant_attributes_snapshot.sql
Owners: @NastiaMitiushkina

Update sources.yml
  models/spark/sources.yml
Owners: @lexx-a, @g00sek

Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

Update slo_details_seed.csv
  seeds/slo_details_seed.csv
Owners: @lexx-a, @g00sek

drop sensor for non-updating table
  models/spark/onfy/promocodes_dash.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

add aliases for base models
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

fix partition_by config
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/dashboards/user_points_transactions.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_users.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fix partition_by config
  models/spark/dashboards/user_points_transactions.sql
Owners: @lexx-a, @g00sek

fix partition_by config
  models/spark/base/active_users.sql
Owners: @lexx-a, @g00sek

fix partition_by config
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fix joom_babylone_tickets.sql
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/core/support/joom_babylone_tickets.sql
Owners: @lexx-a, @g00sek

fix payment_order.sql
  models/spark/core/payments/payment_order.sql
Owners: @lexx-a, @g00sek

fix orders.sql
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

SQLFluff autofixes
  models/spark/base/orders.sql
Owners: @lexx-a, @g00sek

Update ads_dashboard.sql
  models/spark/onfy/ads_dashboard.sql
Owners: @anyazay, @ea-sal, @BartolomeuD

fix gold_orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

move data readiness reports to hourly airflow pool
  models/spark/platform/data_readiness_summary.sql
  models/spark/platform/table_readiness_report.sql
Owners: @lexx-a, @g00sek

move slo_details to hourly spark pool
  models/spark/platform/slo_details.sql
Owners: @lexx-a, @g00sek

trying to run in dev models with same name
  macros/generate_alias_name.sql
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
Owners: @dmgburg, @lexx-a, @g00sek

fix generate_alias_name.sql
  macros/generate_alias_name.sql
Owners: @dmgburg

make orders incremental, move all tables to delta
  models/spark/base/active_devices.sql
  models/spark/base/active_users.sql
  models/spark/base/orders.sql
  models/spark/core/bloggers/bloggers.sql
  models/spark/core/payments/card_bins.sql
  models/spark/core/payments/payment.sql
  models/spark/core/payments/payment_order.sql
  models/spark/core/support/joom_babylone_tickets.sql
  models/spark/dashboards/user_points_transactions.sql
  models/spark/gold/gold_active_devices.sql
  models/spark/gold/gold_active_users.sql
  models/spark/gold/gold_countries.sql
  models/spark/gold/gold_logistics_orders.sql
  models/spark/gold/gold_merchant_categories.sql
  models/spark/gold/gold_merchants.sql
  models/spark/gold/gold_order_groups.sql
  models/spark/gold/gold_orders.sql
  models/spark/gold/gold_payment_orders.sql
  models/spark/gold/gold_products.sql
  models/spark/gold/gold_referral_orders.sql
  models/spark/gold/gold_regions.sql
Owners: @lexx-a, @g00sek

make sqlfluff happy
  models/spark/base/orders.sql
  models/spark/gold/gold_orders.sql
Owners: @lexx-a, @g00sek

fixed window function
  models/spark/merchant/moderation/manual_moderation_tasks.sql
  models/spark/merchant/moderation/risky_moderation_tasks.sql
Owners: @lexx-a, @g00sek

CODEOWNERS:

* @lexx-a @g00sek
b2b_mart/ @NastiaMitiushkina
onfy/ @anyazay @ea-sal @BartolomeuD
/deploy/ @dmgburg
/infra/ @dmgburg
/macros/ @dmgburg
/tests/ @dmgburg
/analytics/ @dmgburg
